<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta name="full-screen" content="yes" /> -->
    <!-- <meta name="x5-fullscreen" content="true" /> -->
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>国家材料环境腐蚀科学数据中心-{$currTitle}</title>
    <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
    <style>
    footer {
        margin-top: 3%;
    }
    </style>
</head>

<body>
    <div class="main">
        <header>{include file="common/header"}</header>
        <nav>{include file="common/nav"}</nav>
        <div class="width-1200 clearfix">
            <div class="Basicdata">
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a50.png" alt="">
                    <p>腐蚀数据</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a51.png" alt="">
                    <p>化学成分</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a52.png" alt="">
                    <p>组织结构</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a53.png" alt="">
                    <p>力学性能</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a54.png" alt="">
                    <p>热力学</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a55.png" alt="">
                    <p>物理性质</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a56.png" alt="">
                    <p>电位-pH图</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a57.png" alt="">
                    <p>金相图谱</p>
                </a>
                <a href="javascript:;">
                    <img src="__INDEX__/custom/images/a59.png" alt="">
                    <p>相图</p>
                </a>
            </div>
            <h4 class="jsh4">腐蚀数据</h4>
            <div class="Periodic-table-box pr">
                <div class="clearfix Periodic-search pa">
                    <div class="select sc-fl">
                        <select name="" id="">
                            <option value="0">按元素种类搜索</option>
                            <option value="1">按元素种类搜索</option>
                        </select>
                    </div>
                    <div class="search2 sc-fl">
                        <input type="text">
                        <button>搜索</button>
                    </div>
                    <img src="__INDEX__/custom/images/a58.png" alt="" class="zhouqibiao">
                </div>
                <div class="Periodic-table clearfix">
                    <div class="squarebox cGreen">
                        <span class="pr square"><span class="pa">1</span>H</span>
                    </div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="squarebox cPurple">
                        <span class="pr square"><span class="pa">2</span>He</span>
                    </div>
                    <div class="squarebox cRed sc-fl">
                        <span class="pr square"><span class="pa">3</span>Li</span>
                    </div>
                    <div class="squarebox cOrange sc-fl">
                        <span class="pr square"><span class="pa">4</span>Be</span>
                    </div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="squarebox cGreenJ">
                        <span class="pr square"><span class="pa">5</span>B</span>
                    </div>
                    <div class="squarebox cGreen">
                        <span class="pr square"><span class="pa">6</span>C</span>
                    </div>
                    <div class="squarebox cGreen">
                        <span class="pr square"><span class="pa">7</span>N</span>
                    </div>
                    <div class="squarebox cGreen">
                        <span class="pr square"><span class="pa">8</span>O</span>
                    </div>
                    <div class="squarebox cBlue">
                        <span class="pr square"><span class="pa">9</span>F</span>
                    </div>
                    <div class="squarebox cPurple">
                        <span class="pr square"><span class="pa">10</span>Ne</span>
                    </div>
                    <div class="squarebox cRed sc-fl">
                        <span class="pr square"><span class="pa">11</span>Na</span>
                    </div>
                    <div class="squarebox cOrange sc-fl">
                        <span class="pr square"><span class="pa">12</span>Mg</span>
                    </div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="square-f"></div>
                    <div class="squarebox cYellow sc-fr">
                        <span class="pr square"><span class="pa">13</span>AI</span>
                    </div>
                    <div class="squarebox cGreenJ sc-fr">
                        <span class="pr square"><span class="pa">14</span>Si</span>
                    </div>
                    <div class="squarebox cGreen sc-fr">
                        <span class="pr square"><span class="pa">15</span>P</span>
                    </div>
                    <div class="squarebox cGreen sc-fr">
                        <span class="pr square"><span class="pa">16</span>S</span>
                    </div>
                    <div class="squarebox cBlue sc-fr">
                        <span class="pr square"><span class="pa">17</span>CI</span>
                    </div>
                    <div class="squarebox cPurple sc-fr">
                        <span class="pr square"><span class="pa">18</span>Ar</span>
                    </div>
                    <div class="squarebox cRed sc-fl">
                        <span class="pr square"><span class="pa">19</span>K</span>
                    </div>
                    <div class="squarebox cOrange sc-fl">
                        <span class="pr square"><span class="pa">20</span>Ca</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">21</span>Sc</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">22</span>Ti</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">23</span>V</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">24</span>Cr</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">25</span>Mn</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">26</span>Fe</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">27</span>Co</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">28</span>Ni</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">29</span>Cu</span>
                    </div>
                    <div class="squarebox cOrangeJ sc-fl">
                        <span class="pr square"><span class="pa">30</span>Zn</span>
                    </div>
                    <div class="squarebox cYellow sc-fl">
                        <span class="pr square"><span class="pa">31</span>Ga</span>
                    </div>
                    <div class="squarebox cGreenJ sc-fl">
                        <span class="pr square"><span class="pa">32</span>Ge</span>
                    </div>
                    <div class="squarebox cGreenJ sc-fl">
                        <span class="pr square"><span class="pa">33</span>As</span>
                    </div>
                    <div class="squarebox  cGreen sc-fl">
                        <span class="pr square"><span class="pa">34</span>Se</span>
                    </div>
                    <div class="squarebox cBlue sc-fl">
                        <span class="pr square"><span class="pa">35</span>Br</span>
                    </div>
                    <div class="squarebox cPurple sc-fl">
                        <span class="pr square"><span class="pa">36</span>Kr</span>
                    </div>
                    <div class="squarebox cRed">
                        <span class="pr square"><span class="pa">37</span>Rb</span>
                    </div>
                    <div class="squarebox cOrange">
                        <span class="pr square"><span class="pa">38</span>Sr</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">39</span>Y</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">40</span>Zr</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">41</span>Nb</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">42</span>Mo</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">43</span>Tc</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">44</span>Ru</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">45</span>Rh</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">46</span>Pd</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">47</span>Ag</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">48</span>Cd</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">49</span>In</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">50</span>Sn</span>
                    </div>
                    <div class="squarebox cGreenJ">
                        <span class="pr square"><span class="pa">51</span>Sb</span>
                    </div>
                    <div class="squarebox cGreenJ">
                        <span class="pr square"><span class="pa">52</span>Te</span>
                    </div>
                    <div class="squarebox cBlue">
                        <span class="pr square"><span class="pa">53</span>I</span>
                    </div>
                    <div class="squarebox cPurple">
                        <span class="pr square"><span class="pa">54</span>Xe</span>
                    </div>
                    <div class="squarebox cRed">
                        <span class="pr square"><span class="pa">55</span>Cs</span>
                    </div>
                    <div class="squarebox cOrange">
                        <span class="pr square"><span class="pa">56</span>Ba</span>
                    </div>
                    <div class="squarebox cBrown">
                        <span class="pr square"><span class="pa">57-71</span>La-Lu</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">72</span>Hf</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">73</span>Ta</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">74</span>W</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">75</span>Re</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">76</span>Os</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">77</span>Ir</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">78</span>Pt</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">79</span>Au</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">80</span>Hg</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">81</span>Ti</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">82</span>Pb</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">83</span>Bi</span>
                    </div>
                    <div class="squarebox cYellow">
                        <span class="pr square"><span class="pa">84</span>Po</span>
                    </div>
                    <div class="squarebox cGreen">
                        <span class="pr square"><span class="pa">85</span>At</span>
                    </div>
                    <div class="squarebox cPurple">
                        <span class="pr square"><span class="pa">86</span>Rn</span>
                    </div>
                    <div class="squarebox cRed">
                        <span class="pr square"><span class="pa">87</span>Fr</span>
                    </div>
                    <div class="squarebox cOrange">
                        <span class="pr square"><span class="pa">88</span>Ra</span>
                    </div>
                    <div class="squarebox cGray">
                        <span class="pr square"><span class="pa">89-103</span>Ac-Lr</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">104</span>Rf</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">105</span>Db</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">106</span>Sg</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">107</span>Bh</span>
                    </div>
                    <div class="squarebox cOrangeJ">
                        <span class="pr square"><span class="pa">108</span>Hs</span>
                    </div>
                    <div class="squarebox cCyan">
                        <span class="pr square"><span class="pa">109</span>Mt</span>
                    </div>
                    <div class="squarebox cCyan">
                        <span class="pr square"><span class="pa">1</span>Ds</span>
                    </div>
                    <div class="squarebox cCyan">
                        <span class="pr square"><span class="pa">110</span>Rg</span>
                    </div>
                    <div class="squarebox cCyan">
                        <span class="pr square"><span class="pa">112</span>Cn</span>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="clearfix zhaihezi">
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">57</span>La</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">58</span>Ce</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">59</span>Pr</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">60</span>Nd</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">61</span>Pm</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">62</span>Sm</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">63</span>Eu</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">64</span>Gd</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">65</span>Tb</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">66</span>Dy</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">67</span>Ho</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">68</span>Er</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">69</span>Tm</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">70</span>Yb</span>
                        </div>
                        <div class="squarebox cBrown">
                            <span class="pr square"><span class="pa">71</span>Ac</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">89</span>Lu</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">90</span>Th</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">91</span>Pa</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">92</span>U</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">93</span>Np</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">94</span>Pu</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">95</span>Am</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">96</span>Cm</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">97</span>Bk</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">98</span>Cf</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">99</span>Es</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">100</span>Fm</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">101</span>Md</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">102</span>No</span>
                        </div>
                        <div class="squarebox cGray">
                            <span class="pr square"><span class="pa">103</span>Lr</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-h clearfix m25">
                <div class="sc-fl left">
                    <span>每页显示</span>
                    <select name="" id="">
                        <option value="0">100</option>
                    </select>
                    <span>条</span>
                </div>
                <div class="sc-fr right">
                    <soan class="btn showhide">显示/隐藏</soan>
                    <soan class="btn copy">复制</soan>
                    <soan class="btn print">打印</soan>
                    <soan class="btn export">导出</soan>
                </div>
            </div>
            <table class="table-p m25">
                <tr>
                    <td>材料</td>
                    <td>类型</td>
                    <td>开路电位</td>
                    <td>腐蚀速率</td>
                    <td>腐蚀介质</td>
                    <td>参考文献</td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="table-paging c-333 sc-center">
                <span class="prev">←   向前</span>
                <span class="num">1</span>
                <span class="next">向后   →</span>
            </div>
        </div>
        <footer>{include file="common/footer"}</footer>
    </div>
    <script src="__INDEX__/custom/js/jquery.min.js"></script>
    <script src="__INDEX__/custom/js/p.js"></script>
    <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
    <script>
    $(function() {
        var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
        for (var i = 0; i < mynav.length; i++) {　　　
            var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
            var myurl = document.location.href; //取出当前窗口的链接
            if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
                $(mynav[i]).parent().addClass('nav-hover')
            }　　
        }
        $('.zhouqibiao').on('click', function() {
            $('.Periodic-table').toggle()

        })
    })
    </script>
</body>

</html>