body {
    margin: 0;
    padding: 0;
    background-color: #6E6E6E;
}

#Login {
    width: 1000px;
    /* position: absolute; */
    background-color: url("__ADMIN__/images/login.jpg");
    height: 600px;
    border: 1px solid;
    margin: auto;
    margin-top: 100px;
    color:white;
}

#Sub {
    margin-top: 100px;
    margin-left: 300px;
    width: 400px;
    height: 400px;
    background: #ABABAB;
    position: relative;
    animation-name: myfirst;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Firefox: */
    -moz-animation-name: myfirst;
    -moz-animation-duration: 30s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Opera: */
    -o-animation-name: myfirst;
    -o-animation-duration: 30s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
}

@keyframes myfirst {
    0% {
        background: #ABABAB;
        left: 0px;
        top: 0px;
    }
    25% {
        background: #2B2B2B;
        left: 300px;
        top: 0px;
    }
    50% {
        background: #ABABAB;
        left: 0px;
        top: 0px;
    }
    75% {
        background: #2B2B2B;
        left: -300px;
        top: 0px;
    }
    100% {
        background: #ABABAB;
        left: 0px;
        top: 0px;
    }
}

@-moz-keyframes myfirst
/* Firefox */
{
    0% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background: red;
        left: 300px;
        top: 0px;
    }
    50% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    75% {
        background: green;
        left: -300px;
        top: 0px;
    }
    100% {
        background: blue;
        left: 0px;
        top: 0px;
    }
}

@-webkit-keyframes myfirst
/* Safari and Chrome */
{
    0% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background: red;
        left: 300px;
        top: 0px;
    }
    50% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    75% {
        background: green;
        left: -300px;
        top: 0px;
    }
    100% {
        background: blue;
        left: 0px;
        top: 0px;
    }
}

@-o-keyframes myfirst
/* Opera */
{
    0% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background: red;
        left: 300px;
        top: 0px;
    }
    50% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    75% {
        background: green;
        left: -300px;
        top: 0px;
    }
    100% {
        background: blue;
        left: 0px;
        top: 0px;
    }
}

#banquan{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#Title{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}