<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dome</title>
    <link rel="stylesheet" href="__VENDOR__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__INDEX__/custom/css/main.css">
</head>

<body>
    <!-- header start -->
    <div id="Dome-Header" class="layui-container">
        {include file="/common/login-nav"}
    </div>
    <!-- header end -->

    <!-- content start -->

    <div id="Content">
        <div class="Item Demo">
            <div class="layui-row layui-col-space5 detail">

                <div class="descrition"><p>请在下图中画两条直线，把下图分成4个部分。每一部分必须都有一只鸡，并且各有0、1、2、3个鸡蛋。</p></div>

                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo grid-demo-bg1">
                        <a href="#">
                            <img src="__INDEX__/custom/image/Dome1.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <button class="layui-btn Submit">提交</button>
        </div>
    </div>

    <!-- content end -->
</body>

</html>