{include file='public/header'}


<!-- 内容主体区域 -->
<div class="layui-body">
    <div style="padding: 15px;">
            <a href="/admin/scate/add" class="layui-btn">添加</a>
        <table class="layui-table">
            <colgroup>
                <col width="80">
                <col>
                <col width="200">
                <col width="300">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>分类名</th>
                    <th>级别</th>
                    <th>上级分类</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name="cates" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>
                        {$vo.name}
                    </td>
                    <td>{$vo.level == 1 ? '一级分类':'二级分类'}</td>
                    <td>{$vo.parentname}</td>
                    <td>
                        <a href="/admin/scate/edit?id={$vo.id}" class="layui-btn layui-btn-warm layui-btn-mini">
                            <i class="layui-icon">&#xe642;</i>编辑</a>
                        <a href="/admin/scate/del?id={$vo.id}" class="layui-btn layui-btn-danger layui-btn-mini del">
                            <i class="layui-icon">&#xe640;</i>删除</a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
    </div>
</div>

<script>
     layui.use('layer', function(){
        var layer = layui.layer;
        $(".del").on('click',function(){
            var url = $(this).attr('href');
            layer.confirm('确定要删除吗?', {icon: 3, title:'温馨提示'}, function(index){
                location.href = url;
                layer.close(index);
            });
            return false;
        });
    });
</script>

{include file="public/footer">