{include file="public/header"}

<!-- 内容主体区域 -->
<div class="layui-body">
    <div style="padding: 15px;">
        <table class="layui-table">
            <colgroup>
                <col width="80">
                <col>
                <col width="300">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>课程封面</th>
                    <th>课名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!--循环输出管理员列表-->
                {volist name="Subject" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.cover}</td>
                    <td>{$vo.name}</td>
                    <td>
                        <a href="#" class="layui-btn layui-btn-warm layui-btn-mini">
                            <i class="layui-icon">&#xe642;</i>编辑</a>
                        <a href="#" class="layui-btn layui-btn-danger layui-btn-mini del">
                            <i class="layui-icon">&#xe640;</i>删除</a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>

    </div>
</div>

{include file="public/footer"}