{include file="public/header"}

<div class="mood-header">
  <img src="/static/mobile/image/avatar-test.jpg">
  <img src="/static/mobile/image/avatar-test.jpg">
  <span>日期选择</span>
</div>
<div class="mood-detail-container">
  <div class="mood-detail-item">
    <div class="dot"></div>
    <p class="time">8月1日</p>
    <div class="detail">
      <img class="avatar" src="/static/mobile/image/avatar-test.jpg">
      <div>
        <p class="name">大宝</p>
        <p class="content">在学习了一周的课程之后，我的逻辑思维.....</p>
      </div>
      <img class="like" src="/static/mobile/image/icon/like.png">
    </div>
  </div>
  <div class="mood-detail-item">
    <div class="dot"></div>
    <p class="time">8月1日</p>
    <div class="detail">
      <img class="avatar" src="/static/mobile/image/avatar-test.jpg">
      <div>
        <p class="name">大宝</p>
        <p class="content">在学习了一周的课程之后，我的逻辑思维.....</p>
      </div>
      <img class="like" src="/static/mobile/image/icon/like-selected.png">
    </div>
  </div>
  <div class="mood-detail-item">
    <div class="dot"></div>
    <p class="time">8月1日</p>
    <div class="detail">
      <img class="avatar" src="/static/mobile/image/avatar-test.jpg">
      <div>
        <p class="name">大宝</p>
        <p class="content">在学习了一周的课程之后，我的逻辑思维.....</p>
      </div>
      <img class="like" src="/static/mobile/image/icon/like.png">
    </div>
  </div>
  <div class="mood-detail-item">
    <div class="dot"></div>
    <p class="time">8月1日</p>
    <div class="detail">
      <img class="avatar" src="/static/mobile/image/avatar-test.jpg">
      <div>
        <p class="name">大宝</p>
        <p class="content">在学习了一周的课程之后，我的逻辑思维.....</p>
      </div>
      <img class="like" src="/static/mobile/image/icon/like.png">
    </div>
  </div>
</div>

{include file="public/footer"}