{include file="public/header"}

<div class="layui-body" style="background-color:#DEDEDE">
    <div style="padding: 15px;">
        <div class="layui-card">
            <div class="layui-card-header">管理员日志</div>
            <div class="layui-card-body">
                超级管理员admin添加了管理员test
                <br>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">管理员日志</div>
            <div class="layui-card-body">
                超级管理员admin添加了管理员admin
                <br>
            </div>
        </div>
    </div>
</div>

{include file="public/footer"}