<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
    <link rel="stylesheet" href="__VENDOR__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__INDEX__/custom/css/main.css">
</head>
<body>
    <div id="Unlock-info">
            <!-- <img class="Exit" src="__INDEX__/custom/image/exit.png"> -->
        <div class="pay-info">
            <img class="pay" src="__INDEX__/custom/image/pay.jpg">
            <div>价格：<span>999</span>元</div>
            <p>微信扫描二维码进行支付</p>
            <p>解锁初级训练，第一阶段训练内容</p>
        </div>
    </div>
</body>
</html>