<!--底部-->
<div class="layui-footer footer">
    <div class="layui-main">
        <p>2016 &copy; <a href="https://github.com/xiayulei/think_admin" target="_blank">Think Admin</a></p>
    </div>
</div>
</div>

<script>
// 定义全局JS变量
var GV = {
    current_controller: "admin/{$controller|default=''}/",
    base_url: "__STATIC__"
};
</script>
<!--JS引用-->
<script src="__ADMIN_JS__/jquery.min.js"></script>
<script src="__LAYUI__/lay/dest/layui.all.js"></script>
<script src="__ADMIN_JS__/admin.js"></script>
</body>
</html>