<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{$pageTitle} - 迪士尼管理后台</title>
  <link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">
  <link rel="stylesheet" href="__ADMIN_CSS__/font-awesome.min.css">
  <script src="__ADMIN_JS__/jquery.min.js"></script>
  <script src="/static/admin/custom/js/router.js"></script>
  <script src="__LAYUI__/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo"><a href="{:url('admin/index/index')}"><img class="logo" src="__PUBLIC__/admin/images/admin_logo.png" alt=""></a></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/admin">控制台</a></li>
      <!-- <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a href="{:url('/')}" target="_blank">前台首页</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="__ADMIN__/images/login-header.png" class="layui-nav-img">
          {$currMessager}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('admin/Messager/resetPass')}">修改密码</a></dd>
          <dd><a href="">基本信息</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{:url('admin/login/logout')}">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="javascript:;">管理员</a>
          <dl class="layui-nav-child">
            <dd data-url='/messager/index'><a>管理员列表</a></dd>
            <dd data-url='/messager/add'><a>添加管理员</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd data-url='/userinfo/index'><a>用户列表</a></dd>
            <dd data-url='/userbuy/index'><a>用户购买</a></dd>
            <dd data-url='/activity/index'><a>用户动态</a></dd>
            <dd data-url='/trainhis/index'><a >历史课程</a></dd>
            <dd data-url='/Score/index'><a >历史训练成绩</a></dd>
            <dd data-url='/diploma/index'><a >用户证书</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a >课程管理</a>
          <dl class="layui-nav-child">
            <dd data-url='/subject/index'><a>课程列表</a></dd>
            <dd data-url='/'><a>增加课程</a></dd>
            <dd data-url='/'><a>试玩课程</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a>分类管理</a>
            <dl class="layui-nav-child">
              <dd data-url='/category/index'><a>分类列表</a></dd>
              <dd data-url='/'><a>添加分类</a></dd>
            </dl>
          </li>
        <li class="layui-nav-item" data-url='/'><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  <script>
    //页面载入时，获取页面地址，设置当前tab
    let url = window.location.href
    let route = url.split("admin")
    route = route[route.length - 1]
    console.log(route)

    let tabs = $(".layui-nav-item dd")

    for(var i in tabs) {
      let tab = $(tabs[i])
      if(tab.data('url') == route) {
        tab.addClass("layui-this")
        $(tab.parent().parent()).addClass("layui-nav-itemed")
        break
      }
    }

    $("dd").click(e => {
      let url = e.currentTarget.dataset.url
      this.router.push(url)
    })

  </script>