<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{$pageTitle} - 管理后台</title>
  <link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">
  <link rel="stylesheet" href="__ADMIN_CSS__/font-awesome.min.css">
  <script src="__ADMIN_JS__/jquery.min.js"></script>
  <script src="__LAYUI__/layui.js"></script>
  <script src="/static/admin/custom/js/router.js"></script>
  <script src="__LAYUI__/layui.js"></script>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"><a href="{:url('admin/index/index')}"><img class="logo" src="__PUBLIC__/admin/images/admin_logo.png"
            alt=""></a></div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/admin">控制台</a></li>
        <!-- <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="{:url('/')}" target="_blank">前台首页</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="__ADMIN__/images/login-header.png" class="layui-nav-img">
            {$currMessager}
          </a>
          <dl class="layui-nav-child">
            <dd><a href="{:url('admin/Messager/resetPass')}">修改密码</a></dd>
            <dd><a href="">基本信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('admin/login/logout')}">退出</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item" id="default-itemed">
            <a href="javascript:;">管理员</a>
            <dl class="layui-nav-child">
              <dd data-url='/messager/index'><a>管理员列表</a></dd>
              <dd data-url='/messager/add'><a>添加管理员</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">用户管理</a>
            <dl class="layui-nav-child">
              <dd data-url='/userinfo/index'><a>用户列表</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">文章管理</a>
            <dl class="layui-nav-child">
              <dd data-url='/article/index'><a>查看文章</a></dd>
              <dd data-url='/article/add'><a>发布文章</a></dd>
              <dd data-url='/focus/index'><a>科技焦点管理</a></dd>
              <dd data-url='/select/index'><a>每周精选管理</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">文章分类管理</a>
            <dl class="layui-nav-child">
              <dd data-url='/acate/index'><a>查看分类</a></dd>
              <dd data-url='/acate/add'><a>添加分类</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
              <a href="javascript:;">基础数据管理</a>
              <dl class="layui-nav-child">
                <dd data-url='/bdcate/index'><a>查看数据分类</a></dd>
                <dd data-url='/bdcate/add'><a>添加数据分类</a></dd>
                <dd data-url='/bdata/index'><a>查看数据</a></dd>
                <dd data-url='/bdata/add'><a>添加数据</a></dd>
                <dd data-url='/bdsrc/add'><a>添加数据源</a></dd>
                <dd data-url='/bdsrc/import'><a>导入数据源</a></dd>
              </dl>
            </li>
          <li class="layui-nav-item">
            <a href="javascript:;">室内数据管理</a>
            <dl class="layui-nav-child">
                <dd data-url='/indoordata/index'><a>查看数据</a></dd>
                <dd data-url='/indoordata/add'><a>添加数据</a></dd>
                <dd data-url='/data/addIndoor'><a>添加数据源</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
              <a href="javascript:;">野外数据管理</a>
              <dl class="layui-nav-child">
                  <dd data-url='/wilddata/index'><a>查看数据</a></dd>
                  <dd data-url='/wilddata/add'><a>添加数据</a></dd>
                  <dd data-url='/data/addWild'><a>添加数据源</a></dd>
              </dl>
            </li>
          <li class="layui-nav-item">
              <a href="javascript:;">室内/野外数据分类管理</a>
              <dl class="layui-nav-child">
                <dd data-url='/dcate/index?type=1'><a>查看分类</a></dd>
                <dd data-url='/dcate/index?type=2'><a>查看分类</a></dd>
                <dd data-url='/dcate/add'><a>添加分类</a></dd>
              </dl>
            </li>
          <li class="layui-nav-item">
            <a href="javascript:;">标准管理</a>
            <dl class="layui-nav-child">
              <dd data-url='/scate/index'><a>查看分类</a></dd>
              <dd data-url='/scate/add'><a>添加分类</a></dd>
              <dd data-url='/standard/index'><a>查看标准</a></dd>
              <dd data-url='/standard/add'><a>添加标准</a></dd>
              <dd data-url='/standard/import'><a>导入标准</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
              <a href="javascript:;">平台简介管理</a>
              <dl class="layui-nav-child">
                <dd data-url='/about/desc'><a>中心简介</a></dd>
                <dd data-url='/about/pro'><a>专家介绍</a></dd>
                <dd data-url='/about/example'><a>工程应用案例</a></dd>
                <dd data-url='/about/unit'><a>组织机构</a></dd>
              </dl>
            </li>
          <li class="layui-nav-item">
            <a href="javascript:;">站点设置</a>
            <dl class="layui-nav-child">
              <dd data-url='/site/info'><a>基础设置</a></dd>
              <dd data-url='/site/carousel'><a>幻灯片</a></dd>
              <dd data-url='/site/nav'><a>导航设置</a></dd>
              <dd data-url='/site/friends'><a>友情链接</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>