{include file="public/header"}

<!-- <div class="layui-body"> -->
<!-- 内容主体区域 -->
<!-- <div style="padding: 15px;">
        <div class="layui-card">
            <div class="layui-card-header">管理员日志</div>
            <div class="layui-card-body">
                超级管理员admin添加了管理员test 1小时前
                <br> 从而映衬出边框投影
            </div>
        </div>
    </div>
</div> -->

<div style="background-color:#DEDEDE" class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-card">
            <div class="layui-card-header">管理员日志</div>
            <div class="layui-card-body">
                超级管理员admin添加了管理员test
                <br>
            </div>
        </div>
    </div>
</div>

{include file="public/footer"}