<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <!-- <meta name="full-screen" content="yes" /> -->
  <!-- <meta name="x5-fullscreen" content="true" /> -->
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
  <title>国家材料环境腐蚀科学数据中心-{$currTitle}</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap-select.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
  <style>
    footer {
      margin-top: 126px;
    }
  </style>
</head>

<body>
  <div class="main">
    <header>{include file="common/header"}</header>
    <nav>{include file="common/nav"}</nav>
    <div class="width-1200">
      <div class="sw pr clearfix">
        <div class="platform-aside sc-fl">
          <a href="javascript:;" class="parentA">腐蚀数据</a>
          <ul class="ul-down" style="display:block">
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt="" class="xia"><span>大气腐蚀</span>
              <ol class="ol-down" style="display:block">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>建材大气环境腐蚀数据</span></a>
                </li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层室内加速老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子大气老化数据</span></a></li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层大气老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>金属涂镀层大气腐蚀</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有色金属大气腐蚀数据</span></a></li>
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>黑色金属大气腐蚀数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子材料室内加速老化检</span></a></li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>土壤腐蚀</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>建材大气环境腐蚀数据</span></a>
                </li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层室内加速老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子大气老化数据</span></a></li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层大气老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>金属涂镀层大气腐蚀</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有色金属大气腐蚀数据</span></a></li>
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>黑色金属大气腐蚀数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子材料室内加速老化检</span></a></li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>水环境腐蚀</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>建材大气环境腐蚀数据</span></a>
                </li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层室内加速老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子大气老化数据</span></a></li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层大气老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>金属涂镀层大气腐蚀</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有色金属大气腐蚀数据</span></a></li>
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>黑色金属大气腐蚀数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子材料室内加速老化检</span></a></li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>其他数据</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>建材大气环境腐蚀数据</span></a>
                </li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层室内加速老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子大气老化数据</span></a></li>
                <li> <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有机涂层大气老化数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>金属涂镀层大气腐蚀</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>有色金属大气腐蚀数据</span></a></li>
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>黑色金属大气腐蚀数据</span></a></li>
                <li><a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>高分子材料室内加速老化检</span></a></li>
              </ol>
            </li>
          </ul>
          <a href="javascript:;" class="parentA">材料数据</a>
          <ul class="ul-down">
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>Xx</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
          </ul>
          <a href="javascript:;" class="parentA">环境数据</a>
          <ul class="ul-down">
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>Xx</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
          </ul>
          <a href="javascript:;" class="parentA">腐蚀调查</a>
          <ul class="ul-down">
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>Xx</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
            <li class="toggle-li c-333"><img src="__INDEX__/custom/images/a38.png" alt=""><span>XX</span>
              <ol class="ol-down">
                <li>
                  <a href=""><img src="__INDEX__/custom/images/a39.png" alt=""><span>xx</span></a>
                </li>
              </ol>
            </li>
          </ul>
        </div>
        <div class="sc-fr data-content">
          <p class="p-top">库内数据总量为项<span>1486</span></p>
          <h1 class="c-666 sc-center">St12琼海96</h1>
          <p class="c-666 p-time sc-center">发布日期：2017-05-19 14:55:58 <span>浏览次数：0</span> </p>
          <table class="st12">
            <tr>
              <th style="width:180px;">项目</th>
              <th>数据</th>
            </tr>
            <tr>
              <td>所属数据表</td>
              <td>黑色金属大气腐蚀数据</td>
            </tr>
            <tr>
              <td>材料名称</td>
              <td>EPDM 4045</td>
            </tr>
            <tr>
              <td>材料类别</td>
              <td>高分子</td>
            </tr>
            <tr>
              <td>关键词</td>
              <td>EPDM，高分子，紫外老化</td>
            </tr>
            <tr>
              <td>老化周期(天)</td>
              <td>0</td>
            </tr>
            <tr>
              <td>是否添加防老化剂</td>
              <td>否</td>
            </tr>
            <tr>
              <td>常规老化方式</td>
              <td>荧光紫外人工气候环境老化</td>
            </tr>
            <tr>
              <td>常规老化参数</td>
              <td>试验方法参考依据GB/T 16585-1996。8根低压汞弧灯，波长313 nm，4 h紫外光暴露＋4 h冷凝，紫外光暴露温度50±3 ℃，冷凝温度50±3 ℃，辐照强度0.55 W·m-2</td>
            </tr>
            <tr>
              <td>变色/色差(级)</td>
              <td>0.00</td>
            </tr>
            <tr>
              <td>光泽（%）</td>
              <td>49.6</td>
            </tr>
            <tr>
              <td>断裂伸长率(%)</td>
              <td>505.43</td>
            </tr>
            <tr>
              <td>300%定伸强度(Mpa)</td>
              <td>7.23</td>
            </tr>
            <tr>
              <td>扯断永久变形(%)</td>
              <td>31.0</td>
            </tr>
            <tr>
              <td>撕断强度(MPA)</td>
              <td>45.84</td>
            </tr>
            <tr>
              <td>硬度类别</td>
              <td>邵氏硬度</td>
            </tr>
            <tr>
              <td>硬度</td>
              <td>69.0</td>
            </tr>
            <tr>
              <td>数据来源</td>
              <td>博士论文</td>
            </tr>
            <tr>
              <td>归档日期</td>
              <td>2014-05-9</td>
            </tr>
            <tr>
              <td>归档人</td>
              <td>吴德权</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <footer>{include file="common/footer"}</footer>
  </div>
  <script src="__INDEX__/custom/js/jquery.min.js"></script>
  <script src="__INDEX__/custom/js/bootstrap-select.min.js"></script>
  <script src="__INDEX__/custom/js/echarts.min.js"></script>
  <script src="__INDEX__/custom/js/p.js"></script>
  <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
  <script>
    $(function () {

      var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
      // $(mynav).eq(2).parent().addClass('nav-hover')
      $('.ul-down li').on('click', function () {
        $(this).find('img').toggleClass('xia')
        $(this).find('.ol-down').slideToggle()

      })
    })
  </script>
</body>

</html>