<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta name="full-screen" content="yes" /> -->
    <!-- <meta name="x5-fullscreen" content="true" /> -->
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>国家材料环境腐蚀科学数据中心 -- {$currTitle}</title>
    <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
    <style>

    </style>
</head>

<body>
    <div class="main">
        <header>{include file="common/header"}</header>
        <nav>{include file="common/nav"}</nav>
        <div class="banner-index">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="__INDEX__/custom/images/abanner1.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="__INDEX__/custom/images/abanner2.jpg" alt="...">
                    </div>
                    <!--   <div class="item">
                        <img src="__INDEX__/custom/images/abanner1.jpg" alt="...">
                    </div> -->
                </div>
            </div>
        </div>
        <div class="width-1200">
            <div class="public-title">
                <img src="__INDEX__/custom/images/a3.png" alt="">
                <span>资讯中心</span>
            </div>
            <div class="content-one clearfix">
                <div class="sc-fl left">
                    <a href="{:url('index/show')}">
                    <img src="__INDEX__/custom/images/a4.png" alt="">
                    <h4>国家材料环境腐蚀平台完成智能化改造</h4>

                    <p>国家材料环境腐蚀平台通过50余年积累的材料腐蚀（老化）数据及环境数据，建成我国腐蚀数据量最大的材料腐蚀（老化）数据共享平台，为企业、国防、事业单位在海洋环境腐蚀试验与技术研发等方面提供了不可或缺的科技支撑...
                    </p>
                </a>
                </div>
                <div class="sc-fl right">
                    <h4><span></span>科技焦点<a href="more.html" class="sc-fr"><span>更多</span><img src="__INDEX__/custom/images/a31.png" alt=""></a></h4>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">“双一流”建设的三个基础性问题</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">15种金相组织大汇总，速收藏！</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">中国科技期刊之怪现状</p>
                    </a>
                    <h4><span></span>每周精选<a href="more.html" class="sc-fr"><span>更多</span><img src="__INDEX__/custom/images/a31.png" alt=""></a></h4>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">各类材料失效检测分析方法汇总</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">如何搜索你所在领域的SCI杂志及排名？</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">如何通过文献检索来了解本学科的前沿领域？</p>
                    </a>
                    <h4><span></span>最新资讯<a href="more.html" class="sc-fr"><span>更多</span><img src="__INDEX__/custom/images/a31.png" alt=""></a></h4>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">2018第五届海洋材料与腐蚀防护大会暨海洋新材料及防护新技术展览会第二轮通知</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">腐蚀电化学基本方程探讨</p>
                    </a>
                    <a href="{:url('index/show')}">
                        <p class="text-overflow-one">美军航母腐蚀防控技术研制与应用进展</p>
                    </a>
                </div>
            </div>
            <div class="gray-div"></div>
            <div class="public-title m25">
                <img src="__INDEX__/custom/images/a5.png" alt="">
                <span>数据中心</span>
            </div>
            <div class="content-two clearfix">
                <div class="sc-fl left">
                    <div class="title">
                        <span></span>
                        <span>实时数据</span>
                    </div>
                    <img src="__INDEX__/custom/images/a30.png" alt="">
                </div>
                <div class="sc-fl right">
                    <div class="title">
                        <span></span>
                        <span>数据动态</span>
                    </div>
                    <a href="{:url('index/show')}">
                        <h4>2018年8月份青岛、武汉、三亚、杭州、吐鲁番、北京环境腐蚀性分析</h4>
                        <p class="text-overflow-much">国家材料环境腐蚀科学数据中心对2018年8月份青岛、武汉、三亚、杭州、吐鲁番、北京环境腐蚀性数据进行了梳拟分析，通过对腐蚀量的对比分析，2018年8月份环境腐蚀性：青岛>杭州>北京>三亚>武汉>吐鲁番，对应ISO 9223大气环境腐蚀性分级标准，吐鲁番为C2等级，武汉、北京、三亚、杭州为C3等级，青岛为CX等级。主要原因是青岛监测点离海岸线30米左右，Cl-沉降量较大，其腐蚀环境为海洋大气环境，腐蚀较为严重；武汉，北京，杭州为大陆性气候，三亚监测点离海岸线较远，因此，四个地方的腐蚀等级相差不大，环境腐蚀性一般，而吐鲁番属于干热环境，腐蚀较为轻微。
                        </p>
                    </a>
                    <a href="{:url('index/show')}">
                        <h4>青岛、武汉、三亚、杭州、北京、吐鲁番等大气腐蚀站完成腐蚀挂片及腐蚀大数据监测工作</h4>
                        <p class="text-overflow-much">随着我国核电站数量的快速增加，在有效缓解能源短缺巨大 压力的同时，也产生了大量的核废料。由于高度放射...
                        </p>
                    </a>
                    <!--   <h4>高放核废料地质处置用材料腐蚀数据库专题</h4>
                    <p class="text-overflow-much">随着我国核电站数量的快速增加，在有效缓解能源短缺巨大 压力的同时，也产生了大量的核废料。由于高度放射...
                    </p> -->
                </div>
            </div>
            <!--       <div class="content-three">
                <div class="title">
                    <span></span>
                    <span>数据分类</span>
                </div>
                <div class="m25 clearfix">
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                    <div class="classify-one sc-fl">
                        <img src="__INDEX__/custom/images/a17.png" alt="" class="sc-fl">
                        <div class="sc-fr right">
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                            <p class="text-overflow-one">中国地面气象站逐小时观测资料</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="gray-div"></div>
            <div class="public-title m25">
                <img src="__INDEX__/custom/images/a6.png" alt="">
                <span>专题数据</span>
                <div class="sc-fr more">
                    <span class="c-333">更多</span>
                    <img src="__INDEX__/custom/images/a7.png" alt="">
                </div>
            </div>
            <ul class="content-four clearfix m25">
                <li class="sc-fl "><a href="{:url('index/show')}"><img src="__INDEX__/custom/images/n10/image003.png" alt=""><p class="c-333 text-overflow-much">青岛2017~2018年环境腐蚀性数据</p></a></li>
                <li class="sc-fl "><a href="{:url('index/show')}"><img src="__INDEX__/custom/images/n11/image004.png" alt=""><p class="c-333 text-overflow-much">泉州2017~2018年环境腐蚀性数据</p></a></li>
                <li class="sc-fl "><a href="{:url('index/show')}"><img src="__INDEX__/custom/images/a109.jpg" alt=""><p class="c-333 text-overflow-much">文昌2017~2018年环境腐蚀性数据</p></a></li>
                <li class="sc-fl "><a href="{:url('index/show')}"><img src="__INDEX__/custom/images/n13/image005.png" alt=""><p class="c-333 text-overflow-much">2018年8月份青岛、武汉、三亚、杭州、吐鲁番、北京环境腐蚀性分析</p></a></li>
                <li class="sc-fl "><a href="n14.html"><img src="__INDEX__/custom/images/n14/image003.png" alt=""><p class="c-333 text-overflow-much">青岛、武汉、三亚、杭州、北京、吐鲁番等大气腐蚀站完成腐蚀挂片及腐蚀大数据监测工作</p></a></li>
            </ul>
            <div class="gray-div"></div>
            <div class="public-title m25">
                <img src="__INDEX__/custom/images/a9.png" alt="">
                <span>平台介绍</span>
            </div>
            <div class="content-five clearfix">
                <div class="sc-fl left">
                    <p class="c-333">国家材料环境腐蚀科学数据中心是经科技部批准成立，由北京科技大学牵头，联合民口部门和国防部门共同建设的新时期具有大数据特色的数据中心平台体系。数据中心通过长期持续开展了黑色金属、有色金属、建筑材料、涂镀层材料及高分子材料等5大类，600余种材料，建成了最长达35年的野外试验数据；近年来依托自主研发的材料腐蚀和相关环境数据自动采集的多探头传感器，建立了基于物联网的腐蚀和环境数据的高通量采集、无线传输及入库的“腐蚀大数据”创新技术体系，该项技术为材料腐蚀基础研究在线提供了实时24小时的环境腐蚀数据。目前国家材料环境腐蚀科学数据中心总有效数据量超过1800万条，在全国同类数据资源中占比超过80%以上，已成为我国乃至世界上最大的腐蚀数据资源拥有者。
                    </p>
                </div>
                <div class="sc-fr right"><img src="__INDEX__/custom/images/a32.png" alt=""></div>
            </div>
        </div>
        <footer>{include file="common/footer"}</footer>
    </div>
    <script src="__INDEX__/custom/js/jquery.min.js"></script>
    <script src="__INDEX__/custom/js/p.js"></script>
    <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
    <script>
    $(function() {
        $('.qiehuan span').on('click', function() {
            $(this).addClass('active').siblings().removeClass('active')
        })
        var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
        for (var i = 0; i < mynav.length; i++) {　　　
            var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
            var myurl = document.location.href; //取出当前窗口的链接
            if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
                $(mynav[i]).parent().addClass('nav-hover')
            }　　
        }
    })
    </script>
</body>

</html>