<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta name="full-screen" content="yes" /> -->
    <!-- <meta name="x5-fullscreen" content="true" /> -->
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>国家材料环境腐蚀科学数据中心 --{$currTitle}</title>
    <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
    <style>

    </style>
</head>

<body>
    <div class="main">
        <header>{include file="common/header"}</header>
        <nav>{include file="common/nav"}</nav>
        <div class="width-1200">
            <div class="platform pr">
                <div class="platform-content padding padding2" id="pone">
                    <h4 class="c-000 sc-center">国家材料环境腐蚀平台完成智能化改造</h4>
                    <p class="c-000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国家材料环境腐蚀平台通过50余年积累的材料腐蚀（老化）数据及环境数据，建成我国腐蚀数据量最大的材料腐蚀（老化）数据共享平台，为企业、国防、事业单位在海洋环境腐蚀试验与技术研发等方面提供了不可或缺的科技支撑。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前进行材料腐蚀寿命评估时，积累的大部分数据属于通过传统的挂片试验手段积累的腐蚀数据，具有碎片化的特点，并且附带有数据积累周期长、数据积累过程中多种环境因素耦合的不稳定性等缺点，对工程应用中材料腐蚀寿命预测等复杂问题的解决能力亟待提升。因此，我国急需开展具备在线监测能力的大气腐蚀试验站的建设工作，通过对材料大气腐蚀及环境因素的高通量在线采集，开展材料大气腐蚀的“大数据”积累和共享工作。这些工作将有助于进一步提升大气环境下装备环境适应性和寿命预测等方面的评价水平，对大幅度提高材料、装备的安全性和寿命，降低腐蚀带来的经济损失具有重要的意义。我国环境腐蚀野外监测主要依托于站台的实地人工投样工作，不仅腐蚀数据获得的质量和速度不理想，且尚无统一连入物联网平台实现开放共享与在线查询。基于物联网无线传输技术的发展，研发出实时在线腐蚀数据监测技术并应用是腐蚀监测发展的必然趋势。
                    </p>
                    <p class="c-000 m25 sc-center">
                        腐蚀大数据在线监测系统
                    </p>
                    <p class="c-000 m25">
                        技术体系介绍：
                    </p>
                    <div class="img" style="padding-left:13%">
                        <img src="__INDEX__/custom/images/a33.png" alt="">
                    </div>
                    <p class="c-000 m25">
                        功能优势：
                    </p>
                    <p class="c-000">
                        ①在线监测：监测数据通过云平台即时展现，实现对装备的实时监测；
                        <br> ②实时预警：系统针对监测区域环境腐蚀性超出设置阈值时发出警报，实现监测区域的实时预警；
                        <br> ③装备健康诊断：根据监测数据的长期积累，实现装备材料健康状况的智能化评估。
                    </p>
                    <p class="c-000 m25 sc-center">
                        国家材料环境腐蚀科学数据中心应用
                    </p>
                    <p class="c-000">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;腐蚀大数据在线监测系统已陆续应用于国家材料环境腐蚀科学数据中心的30多个国家野外科学观测研究站点，监测材料涵盖桥梁钢、桥梁耐候钢等黑色金属以及锌等部分有色金属，监测环境覆盖干热、湿热、沿海、内陆等典型材料应用环境。
                    </p>
                    <div class="img" style="padding-left:13%">
                        <img src="__INDEX__/custom/images/a21.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <footer>{include file="common/footer"}</footer>
    </div>
    <script src="__INDEX__/custom/js/jquery.min.js"></script>
    <script src="__INDEX__/custom/js/p.js"></script>
    <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>

</html>