<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <!-- <meta name="full-screen" content="yes" /> -->
  <!-- <meta name="x5-fullscreen" content="true" /> -->
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>国家材料环境腐蚀科学数据中心</title>
  <link rel="stylesheet" href="/vendor/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/new.css">
  <script src="/vendor/layui/layui.js"></script>
  <style>
    .register-btn {
      width: 100%;
    background: #0093d6;
    color: #fff;
    height: 48px;
    text-align: center;
    line-height: 48px;
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    }
    .hint {
      color: red;
    }
  </style>
</head>

<body>
  <div class="main">
    <header>{include file="common/header"}</header>
    <div class="login_next">
      <div class="width-1200">
        <form id="register-form" onsubmit="checkForm()" method="get" action="./dealRegister">
          <div class="registter_popup">
            <h1>用户注册</h1>
            <ul>
              <li>
                <input type="text" id="phone" name="phone" required lay-verify="required" placeholder="请输入手机号">
                <input type="text" style="display: none;" required lay-verify="required" name="name" value="{php}echo(md5(time().'corrosion'));{/php}"
                  placeholder="请输入手机号">
              </li>
              <li>
                <input type="text" required name="code" lay-verify="required" placeholder="请输入图片验证码">
                <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}?' + Math.random();" />
              </li>
              <li>
                <input type="text" id="msg" name="msg" placeholder="请输入验证码">
                <a class="have" id="send">发送验证码</a>
              </li>
              <li>
                <input type="password" id="pass" required lay-verify="required" name="pass" placeholder="请输入密码">
              </li>
              <li>
                <input type="password" id="repass" required lay-verify="required" placeholder="请再次输入密码">
              </li>
              <li>
                <label id="agree-status" for="agree"></label><span id="agree">我同意</span>
                <a href="">《注册服务协议》</a>
              </li>
              <li>
                <span class="hint">{$hint}</span>
                <button type="submit" class="register-btn">注册</button>
              </li>
            </ul>
            <div class="login_bottom">
              <p>已有账号马上登录？ <a href="new_login.html">马上登录</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="new_footer">{include file="common/footer"}</footer>
  </div>
  <script src="__INDEX__/custom/js/jquery.min.js"></script>
  <script src="__INDEX__/custom/js/p.js"></script>
  <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('.registter_popup label,.registter_popup span').on('click', function () {
        if ($(".registter_popup label").hasClass("am_active")) {
          $(".registter_popup label").removeClass("am_active")
        } else {
          $(".registter_popup label").addClass("am_active")
        }
      })
      $('.qiehuan span').on('click', function () {
        $(this).addClass('active').siblings().removeClass('active')
      })
      var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
      for (var i = 0; i < mynav.length; i++) {
        var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
        var myurl = document.location.href; //取出当前窗口的链接
        if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
          $(mynav[i]).parent().addClass('nav-hover')
        }
      }
    })

    $(document).ready(e => {
      $("#send").click(send)
    })

    function checkForm() {
      if (!$("#agree-status").hasClass("am_active")) {
          layui.use('layer', function () {
            layer.msg("请同意注册服务协议！");
          });
          return false;
        }
        let pass = $("#pass").val()
        let repass = $("#repass").val()
        let phone = $("#phone").val()
        let msg = $("#msg").val()
        let repass = $("#repass").val()

        if(pass != repass) {
          layui.use('layer', function () {
            layer.msg("两次输入密码不相同！");
          });
          return false;
        }
    }

    /*
    发送短信
    */
    function send() {
      let phone = $("#phone").val()
      if (!checkPhone(phone)) {
        layui.use('layer', function () {
          layer.msg("请输入正确的手机号！");
          $("#phone").val("")
        });
        return false
      }
      $.ajax({
        url: "/common/Msg/send?phone=" + phone,
        method: 'get',
        success: res => {
          if (res.code != 0) {
            layui.use('layer', function () {
              layer.msg("发送成功！");
            });
            startInterval()
          } else {
            layui.use('layer', function () {
              layer.msg("发送失败！");
            });
          }
        }
      })
    }

    function startInterval() {
      $("#send").unbind("click")
      let maxTime = 60
      let timer = setInterval(e => {
        maxTime--
        $("#send").html("重新发送(" + maxTime + ")")
        if (maxTime == 1) {
          $("#send").html("获取验证码")
          $("#send").click(send)
          clearInterval(timer)
        }
      }, 1000)
    }
    function checkPhone(phone) {
      phone = phone.trim()
      if (phone == '') return false
      if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))) {
        return false
      }
      return true
    }
  </script>
</body>

</html>