<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <!-- <meta name="full-screen" content="yes" /> -->
  <!-- <meta name="x5-fullscreen" content="true" /> -->
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>国家材料环境腐蚀科学数据中心-{$currTitle}</title>
  <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
  <style>
    footer {
      margin-top: 80px;
    }
  </style>
</head>

<body>
  <div class="main">
    <header>{include file="common/header"}</header>
    <nav>{include file="common/nav"}</nav>
    <div class="width-1200" style="margin-top:50px">
        <div id="pone">
          <div class="border-title clearfix">
            <span></span>
            <span>{$cate.name}</span>
            <div class="sc-fr"><b>更多</b><img src="__INDEX__/custom/images/a7.png" alt=""></div>
          </div>
          {volist name="$articles" id="article"}
          <div class="box-new clearfix">
            <div class="sc-fl left"><img src="{$article.cover}" alt=""></div>
            <div class="sc-fl right">
              <a href="/index/article/index?id={$article.id}">
                <h5>{$article.title}</h5>
                <p>{$article.content}<span>[详细]</span>
                </p>
              </a>
            </div>
          </div>
          {/volist}

          <div class="gray-div m25"></div>
        </div>

    </div>
    <footer>{include file="common/footer"}</footer>
  </div>
  <script src="__INDEX__/custom/js/jquery.min.js"></script>
  <script src="__INDEX__/custom/js/p.js"></script>
  <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
</body>

</html>