<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta name="full-screen" content="yes" /> -->
    <!-- <meta name="x5-fullscreen" content="true" /> -->
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>国家材料环境腐蚀科学数据中心 - {$currTitle}</title>
    <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
    <style>
    .platform-content p {
        text-indent: 2em;
    }
    </style>
</head>

<body>
    <div class="main">
        <header>{include file="common/header"}</header>
        <nav>{include file="common/nav"}</nav>
        <div class="width-1200">
            <div class="platform pr">
                <div class="platform-aside pa">
                    <a href="javascript:;" class="current">中心简介</a>
                    <a href="javascript:;">专家介绍</a>
                    <a href="javascript:;">工程应用案例</a>
                    <a href="javascript:;">组织机构</a>
                </div>
                <div class="platform-content padding" id="pone">
                    <h4 class="c-000 sc-center">腐蚀大数据在线监测系统介绍</h4>
                    <p class="c-000">国家材料环境腐蚀科学数据中心是经科技部批准成立，由北京科技大学牵头，联合民口部门和国防部门共同建设的新时期具有大数据特色的数据中心平台体系。数据中心通过长期持续开展了黑色金属、有色金属、建筑材料、涂镀层材料及高分子材料等5大类，600余种材料，建成了最长达35年的野外试验数据；近年来依托自主研发的材料腐蚀和相关环境数据自动采集的多探头传感器，建立了基于物联网的腐蚀和环境数据的高通量采集、无线传输及入库的“腐蚀大数据”创新技术体系，该项技术为材料腐蚀基础研究在线提供了实时24小时的环境腐蚀数据。目前国家材料环境腐蚀科学数据中心总有效数据量超过1800万条，在全国同类数据资源中占比超过80%以上，已成为我国乃至世界上最大的腐蚀数据资源拥有者。
                    </p>
                    <p>
                        近年来，数据中心承担了几乎所有涉及到材料及装备自然环境腐蚀研究相关课题的野外试验及数据获取任务，持续为“三峡工程”、“西气东输”、“南水北调”等国家重大工程建设及运行维护提供重要支撑；为“大飞机”、“天宫一号、二号”、“高速铁路”、“国家电网”以及武器装备等领域关键材料选材及寿命评价作出了重大贡献；在“潜艇”、“辽宁舰”、“舰载机”以及30余座海洋大型石油平台和“201铺管船”等重大装备中获得直接应用。
                    </p>
                    <p class="c-000 m25">
                        组织架构图：
                    </p>
                    <div class="img">
                        <img src="__INDEX__/custom/images/a1.png" alt="">
                    </div>
                    <p class="c-000 m25">
                        技术体系介绍：
                    </p>
                    <div class="img" style="padding-left:13%">
                        <img src="__INDEX__/custom/images/a33.png" alt="">
                    </div>
                    <p>国家材料环境腐蚀科学数据中心应用
                        <br> 腐蚀大数据在线监测系统已陆续应用于国家材料环境腐蚀科学数据中心的30多个国家野外科学观测研究站点，监测材料涵盖桥梁钢、桥梁耐候钢等黑色金属以及锌等部分有色金属，监测环境覆盖干热、湿热、沿海、内陆等典型材料应用环 境。
                    </p>
                    <div class="img" style="padding-left:13%">
                        <img src="__INDEX__/custom/images/a21.png" alt="">
                    </div>
                </div>
                <div class="gray-div"></div>
            </div>
            <div class="platform-content m25 of" id="ptwo">
                <h4 class="c-000 sc-center m25">专家介绍</h4>
                <ul>
                    <li class="clearfix"><a href=""><img src="__INDEX__/custom/images/a22.png" alt=""><p>李晓刚，博士，北京科技大学新材料技术研究院教授，博士生导师，我国材料环境腐蚀与防护领域主要学术带头人之一，“海洋工程装备材料腐蚀与防护关键技术基础”973项目首席科学家。长期坚持材料环境腐蚀机理应用基础研究，获得了钢铁、高分子等材料在大气、土壤、海洋环境的腐蚀规律；领导创建了国内最大的材料环境腐蚀试验与共享的规范化平台和数据量最大的腐蚀数据库；发展了低合金钢耐蚀性能调控理论并获得产业化应用，研发耐蚀原型钢种15项，产业化生产超过260万吨；研制了环境腐蚀试验系列化新技术,为解决航天、海洋、石油等国家重大工程的材料腐蚀难题提供了技术支撑，解决了"天宫一号"重大腐蚀难题，为其按时发射提供了重要科学依据，对发展我国材料环境腐蚀学科做出了创造性贡献。</p></a></li>
                    <li class="clearfix"><a href=""><img src="__INDEX__/custom/images/a23.png" alt=""><p>程学群，博士，北京科技大学新材料技术研究院教授。主要从事耐蚀合金研发、材料腐蚀寿命预测及表面处理技术研究。主持了国家自然科学基金面上项目3项，参加了国家自然科学基金重点项目、科技部重点研发项目、973项目、863项目等15项国家级课题研究；主持或参加了企业项目150余项。获得国家授权发明专利18项，国际发明专利2项。参与制定了3项国家标准和46项CSTM团体标准。先后在“Corrosion Science”、 “Electrochemical Acta”等腐蚀领域顶级期刊发表学术论文50多篇（其中TOP期刊论文20多篇，单篇论文他引最高130多次），出版著作3部。近五年来，获得省部级科技进步一等奖5项，二等奖2项； 2016年度获国家科学技术进步奖二等奖1项。
目前兼任国家材料环境腐蚀科学数据中心副主任、中国腐蚀与防护学会常务副秘书长、期刊《腐蚀防护之友》执行总编。</p></a></li>
                    <li class="clearfix"><a href=""><img src="__INDEX__/custom/images/a24.png" alt=""><p>肖葵，博士，北京科技大学新材料技术研究院副教授，博士生导师。主要从事材料大气腐蚀与防护、研究材料环境腐蚀数据库、大气腐蚀在线监检测、电子材料环境损伤机理等方面研究工作。先后主持国家自然科学基金面上项目3项，参加“973”计划、国家重点研发计划重点专项和国家科技基础条件平台等多个重点项目。先后发表学术论文180余篇，其中第一作者和通讯作者SCI/EI论文45篇；主编《金属材料霉菌腐蚀行为与机理》和《典型电子材料户外大气环境腐蚀行为与机理》著作2部，参编《海洋大气环境腐蚀寿命》等著作5部，教材《材料腐蚀与防护》1部，获得国家授权发明专利8项。近五年来，获得省部级科技进步一等奖5项，二等奖2项； 2016年度获国家科学技术进步奖二等奖1项。</p></a></li>
                </ul>
            </div>
            <div class="gray-div"></div>
            <div class="platform-content w890 m25 m-auto" id="pthree">
                <h4 class="c-000 sc-center m25">工程应用案例</h4>
                <p>国家材料环境腐蚀科学数据中心通过50余年的数据积累，材料腐蚀“大数据”已在科技、经济、和社会发展的多个领域得到应用，取得了显著的成果，为经济顺利发展保驾护航。
                </p>
                <div class="img">
                    <img src="__INDEX__/custom/images/a25.png" alt="" class="m-auto">
                </div>
                <p>载人航天工程
                    <br> 大量环境试验和腐蚀数据积累为“天宫一号”空间站核心组件质量归零和寿命评估提供了数据基础。
                </p>
                <div class="img sc-center">
                    <img src="__INDEX__/custom/images/a27.png" alt="">
                    <img src="__INDEX__/custom/images/a26.png" alt="">
                </div>
                <p>大飞机专项
                    <br> 系统性积累了航空材料在我国典型大气环境中的长周期腐蚀数据，为设计单位提供腐蚀数据作为设计依据，为制造企业提供防护工艺的依据。
                </p>
                <div class="img sc-center">
                    <img src="__INDEX__/custom/images/a28.png" alt="">
                    <img src="__INDEX__/custom/images/a29.png" alt="">
                </div>
            </div>
        </div>
        <div class="gray-div"></div>
        <div class="platform-content w890p m25 m-auto" id="pfour">
            <h4 class="c-000 sc-center m25">组织机构</h4>
            <p class="sc-center">数据中心由北科大，武汉材保所，青岛海腐所，大庆油田设计院，钱浪组成。
            </p>
        </div>
        <footer>{include file="common/footer"}</footer>
    </div>
    <script src="__INDEX__/custom/js/jquery.min.js"></script>
    <script src="__INDEX__/custom/js/p.js"></script>
    <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
    <script>
    $(function() {
        $('.qiehuan span').on('click', function() {
            $(this).addClass('active').siblings().removeClass('active')
        })
        var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
        for (var i = 0; i < mynav.length; i++) {　　　
            var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
            var myurl = document.location.href; //取出当前窗口的链接
            if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
                $(mynav[i]).parent().addClass('nav-hover')
            }　　
        }
        //描点定位
        $('.platform-aside a').eq(0).on('click', function() {
            $('html, body').animate({ scrollTop: $('#pone').offset().top }, 500);
            $(this).addClass('current').siblings().removeClass('current');
        })
        $('.platform-aside a').eq(1).on('click', function() {
            $('html, body').animate({ scrollTop: $('#ptwo').offset().top }, 500);
            $(this).addClass('current').siblings().removeClass('current');

        })
        $('.platform-aside a').eq(2).on('click', function() {
            $('html, body').animate({ scrollTop: $('#pthree').offset().top }, 500);
            $(this).addClass('current').siblings().removeClass('current');

        })
        $('.platform-aside a').eq(3).on('click', function() {
            $('html, body').animate({ scrollTop: $('#pfour').offset().top }, 500);
            $(this).addClass('current').siblings().removeClass('current');

        })
    })
    </script>
</body>

</html>