<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <!-- <meta name="full-screen" content="yes" /> -->
  <!-- <meta name="x5-fullscreen" content="true" /> -->
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>国家材料环境腐蚀科学数据中心 - {$currTitle}</title>
  <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
  <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
  <style>

  </style>
</head>

<body>
  <div class="main">
    <header>{include file="common/header"}</header>
    <nav>{include file="common/nav"}</nav>
    <div class="width-1200">
      <div class="platform pr">
        <div class="platform-content padding padding2" id="pone">
          <h4 class="c-000 sc-center">输电线路超疏水防覆冰涂层研究进展</h4>
          <p class="c-999 sc-center">2018-09-11 16:02:17  作者：吴亚平，李辛庚，米春旭，宗立君，王晓明，郭凯，宋福如<br />
            来源：国网山东省电力公司电力科学研究院,山东中实电力科技有限公司
          </p>
          <p class="c-000">
            <br>
            温度较低的雨水落在零度以下的输电线路上会出现结冰现象，为输电线路覆冰。输电线路覆冰是电力系统最严重的灾害之一，因覆冰导致绝缘子冰闪、过载、线路舞动，甚至断线倒塔等事故，严重威胁着电网的安全运行。其中雨淞覆冰质地坚硬，不易脱落，具有足够的强度，可导致导线覆冰迅速增长，是输电线路覆冰的主要形式。影响输电线路覆冰的因素很多，包括气候分布、气象条件、地理环境以及导线自身性质等，因而输电线路的覆冰机理也较复杂，通常是热力学、流体力学与电磁学综合作用的结果。
            <br>
            <br>
            近年来随着全球气候的变化，极端天气频繁出现，输电线路覆冰灾害出现的可能性加大，给电网的稳定运行带来了挑战。因此有必要对输电线路防覆冰技术进行系统研究。为避免或减轻输电线路覆冰造成的危害，除了要提高电网线路抗冰设计的标准外，还应积极考虑采用防覆冰或除冰技术。输电线路防覆冰方法有热力防覆冰/除冰法、机械除冰法、自然被动防覆冰/除冰法以及其他除冰法，然而热力防覆冰/除冰法能耗高，机械除冰法的安全性与工作效率低，自然被动除冰法对天气条件过于依赖，除冰效果具有偶然性，其他防覆冰/除冰法停留在理论验证与模拟仿真阶段，因此这些方法均不能从根本上抑制和消除输电线路覆冰灾害的发生。目前，颇受关注的防覆冰涂层技术是较有前景的一种输电线路防覆冰方法。利用防覆冰涂料在输电线路表面构造涂层，在覆冰期间主动抑制和缓解输电线路覆冰的形成和增长，可从根本上消除输电线路覆冰灾害的发生，防覆冰涂层法由于耗能少，易于实施，受到工程和学术界的广泛关注。本文主要综述了输电线路防覆冰涂料的研究进展，并针对超疏水防覆冰涂层的防冰效果及其影响因素做了详细探讨。
            <br>
            <br>
            <b style="color:#333399;font-size: 20px;">1 防覆冰涂料研究进展</b>
            <br>
            <br> 根据形成涂层防覆冰工作原理的不同，防覆冰涂料可以分为四种：电热型涂料、光热型涂料、融冰型涂料、疏水型或超疏水型涂料。
            <br>
            <b> 1.1 电热型涂料</b>
            <br>
            <br>
            电热型涂料主要用于绝缘子防覆冰，通过向涂料中添加导电填料，涂敷于绝缘子上形成电热型涂层。导电填料能够降低涂层的电阻率，电压正常运行下，绝缘子覆冰时，涂层流过的泄漏电流增加，发挥电热效应，产生焦耳热使涂层表面发热，起到延缓或防止覆冰的作用。自2010
            年以来，我国部分寒冷重灾区的线上绝缘子开始试用半导体硅橡胶涂层，发现覆冰现象得到明显改观，然而涂层防冰功能受到绝缘子串的长度与绝缘子直径的影响，而且在雾凇或湿雪天气不宜使用。
            <br>
            <br>
            <b> 1.2 光热型涂料</b>
            <br>
            <br>
            光热型涂料是指在涂料中加入吸光性能良好的物质，涂覆于输电线路上形成光热涂层，提高光吸收率，利用太阳光能量实现防覆冰或除冰。由于光热型涂料本身对天气要求苛刻，覆冰灾害发生时的天气不利于光热型涂料作用的发挥，因此对输电线路用光热型涂料的研究较少。
            <br>
            <br>
            <b> 1.3 融冰型涂料</b>
            <br>
            <br> 融冰型涂料通过释放有机小分子物质，能降低融冰温度，实现融冰或脱冰。文献[21]利用有机金属化合物对PRTV（持久性防污闪复合涂料）进行改性，制备出融冰型涂料，可将水的融冰温度降至？4
            ℃，并能使垂直试样的覆冰在9 h 后完全脱落，具有显着的融冰和脱冰效果。然而，随着时间的延长，冰点抑制剂的释放量不断减少，因而融冰型涂层属于牺牲型涂层，不具有长效性。
            <br>
            <br>
            <b> 1.4 疏水型或超疏水型涂料</b>
            <br>
            <br> 疏水型或超疏水型涂料形成一种长久型涂层，由于表面能较低，可降低输电线路对过冷水滴的捕获率，降低冰与涂层间的附着力，而超疏水涂层还能够延迟水滴在涂层表面的冻结，从而实现除冰或防覆冰。
            <br>
            <br>
            文献通过化学刻蚀使铝导线表面产生粗糙结构，以憎水性较好的氟硅烷进行表面改性，在导线上形成超疏水涂层，制备了超憎水性铝表面，在人工气候室中进行雨凇覆冰试验，能在一定程度上延缓覆冰的形成。使用纳米粒子填充法制备微纳米防冰超疏水涂层，水接触角高达163.1°，滚动角为4.1°，在进行雨凇覆冰试验后，可以延缓雨凇覆冰或减少覆冰量。
            <br>
            <br>
            受自然界中荷叶“出淤泥而不染”超疏水效应的启发，人类开始关注超疏水表面的研究以实现其防腐蚀、防水、自清洁、防覆冰等功能。一般将接触角大于150°、滚动角小于10°的表面称为超疏水表面。在冻雨降雪天气的情况下，超疏水表面能否保持不结冰状态或降低冰层的附着力，引起了众多研究学者的兴趣。
            <br>
            <br>
            <b style="color:#333399;font-size: 20px;">2 表面润湿状态与覆冰的关系</b>
            <br>
            <br>
            <b> 2.1 表面状态与覆冰现象</b>
            <br>
            <br> Saito 等人首次报道了将超疏水涂层应用于防覆冰。有研究直观地给出超疏水涂层表面的覆冰现象，验证了超疏水涂层表面具有良好的防覆冰功能。
            <br>
            <br> 文献研究了涂覆超疏水涂层的绝缘子在雨凇条件下的防覆冰性能和交流闪络电压，认为超疏水涂层在雨凇条件下能够减少覆冰面积和覆冰重量，并且超疏水涂层能够避免连续水膜的形成，提高绝缘子的冰闪电压。图1
            为普通绝缘子和超疏水绝缘子在雨凇条件下的覆冰形貌，发现超疏水绝缘子表面只有少量的冰粒附着，并未形成连续的冰膜，覆冰量明显减少，而且冰层分布稀疏，使得冰层在外力作用下更容易除去。
            <br>
            <img src="__INDEX__/custom/images/al1_1.png" style="display: block;margin: 0 auto;">
            <br>
            <br> 文献探讨了不同润湿状态下铝表面的覆冰情况，发现当喷射过冷水30 min
            后，超亲水铝表面或涂覆RTV（室温硫化硅橡胶）的疏水铝表面铺满冰层，而涂覆超疏水涂层的铝表面仅有少量冰附着，说明超疏水涂层能够减缓覆冰的形成。当环境温度为-10
            ℃时，超疏水涂层的水接触角仍然保持在150°，因此超疏水涂层的水接触角并不受到环境温度的影响。
            <br>
            <br> 文献研究了超疏水纳米结构膜的覆冰行为。随着过冷水滴喷射时间的延长，发现未处理玻璃表面很快被冰层覆盖。涂覆超疏水涂层的玻璃表面，覆冰面积随时间的延长而逐渐增大，然而覆冰与超疏水涂层并未实际接触，如图2a
            所示。当将结冰的超疏水涂层玻璃片置于室温时，冰层几乎全部消失，如图2b 所示。
            <br>
            <br>
            通过观察超疏水涂层表面的覆冰情况，可以看出超疏水涂层能够起到延迟覆冰的作用，尽管随着时间的延长，超疏水表面仍然出现覆冰，但是覆冰状态与普通表面具有显着差异。由于超疏水表面本身对水具有大的接触角，超疏水表面与其覆冰接触面积较小，当冰层融化后，形成的水滴极易从超疏水表面滚落，而不改变其表面状态。
            <br>
            <br> 通过对比观察超疏水涂层的覆冰状态固然直观，然而却不能得出覆冰与涂层的结合状态。通过测试不同表面状态的覆冰粘结强度，从理论上提供了超疏水表面能够实现防覆冰功能的有力证据。
            <br>
            <img src="__INDEX__/custom/images/al1_2.png" style="display: block;margin: 0 auto;">
            <br>
            <b>2.2 表面状态与覆冰粘结强度的关系</b>
            <br>
            <br>
            由于输电线路表面的覆冰现象与覆冰粘结强度有关，而覆冰粘结强度受到表面与水分子之间相互运动的强烈影响，通常认为高表面能表面具有较强的覆冰粘结强度，可通过选择低表面能化学成分的超疏水表面来降低覆冰粘结强度。通过覆冰粘结强度的测量，不仅可以对超疏水涂层的防覆冰功能进行有效评价，还可以对后续除冰进行指导。覆冰粘结强度的测试方法有拉力法和离心力法。由覆冰粘结强度引申出的另一覆冰评价参数为附着力降低系数ARF
            ，是由原始表面与超疏水涂层表面的覆冰粘结强度的比值计算得到。
            <br>
            <br> 一些研究认为，随着静态水接触角的提高，覆冰粘结强度下降，或覆冰粘结强度与前进角或后退角有关。然而他们均认为超疏水涂层能够有效降低覆冰粘结强度或延迟水滴冻结，预示着较好的防覆冰潜能。R.
            Menini通过阳极氧化与刻蚀处理铝表面，注入PTFE 悬浮液制得PTFE 耐磨超疏水涂层。相对于未处理铝表面，该涂层可使覆冰粘结强度降为原来的1/4，且经过10
            轮结冰-脱冰试验后，该涂层仍具有较高的附着力降低系数。文献探讨了光滑表面与不同几何参数的微纳米柱阵列表面的覆冰粘结强度，如图3所示。可以看出：相对疏水微米柱阵列表面，超疏水表面的覆冰粘结强度降为原来的1/3左右；相对于光滑表面，超疏水表面的覆冰粘结强度值降为原来的1/5。因此认为具有多层微纳结构的超疏水表面具有优异的防覆冰能力。Guo
            探讨了具有不同微观结构表面的延迟水滴冻结时间，认为具有微纳结构的表面能够有效延迟水滴的冻结时间，从而可以实现防覆冰功能。
            <br>
            <img src="__INDEX__/custom/images/al1_3.png" style="display: block;margin: 0 auto;">
            <br>
            <br>文献制备的超疏水涂层的机械性能较高，经过结冰-脱冰循环实验后，涂层表面未受到任何影响，接触角保持在155°。而且，超疏水涂层的覆冰粘结强度相比硅橡胶涂层与铝表面的覆冰粘结强度降低了很多，具有长效稳定性，因而有望在输电线路防覆冰中发挥作用。
            <br>
            <br>
            <br>
            超疏水涂层能否降低覆冰粘结强度还存在一定的争议。文献[39]测得亲水涂层、疏水涂层、含氟溶胶-凝胶涂层以及粘弹性橡胶涂层等相对铝表面的附着力降低系数，发现亲水性涂层具有较低的附着力降低系数，而疏水性涂层的附着力降低系数分布范围较宽，有些疏水性涂层的ARF
            值为1~20，有些疏水性涂层的ARF 值在100 以上，超疏水涂层的ARF 值却很低。然而该文献中涉及超疏水涂层相对疏水涂层的数量过少，说服力不够。
            <br>
            <br>
            以上对超疏水涂层防覆冰效果的研究表明，超疏水表面在一定条件下具有较好的防覆冰功能。然而超疏水表面能否防覆冰是多种影响因素综合作用的结果，它与超疏水表面化学成分与表面能、表面形貌以及温度、湿度和风速等环境条件有较大关系。因此目前更多研究不单单关注于超疏水表面相对普通表面的防覆冰功能，而转向于超疏水表面实现防覆冰功能的影响因素，以对超疏水表面进行控制。
            <br>
            <br>
            <b style="color:#333399;font-size: 20px;">3 超疏水涂层表面对防覆冰的影响因素</b>
            <br>
            <br>
            <b> 3.1 表面化学成分与表面能</b>
            <br>
            <br> 由Young 氏方程可知，液体在理想光滑表面的接触角与固体的表面自由能有关，如图4
            中Young氏模型所示，当固液气三相达到平衡时，从三相接触线的一点沿气液界面作切线，切线与固液界面的夹角定义为静态接触角θ。通过改变固体表面的化学成分，进而控制固体表面的化学性质，降低其表面自由能，可以提高材料表面的静态接触角，使其具有疏水效果。因而，可通过选择化学成分获得低表面能表面，从而降低水或冰的粘附强度。
            <br>
            <img src="__INDEX__/custom/images/al1_4.png" style="display: block;margin: 0 auto;">
            <br>
            <br> F 元素具有较小的原子半径和原子中最大的电负性，是降低表面能最有效的元素。—CF 3 基团在材料表面紧密有序堆积成六方结构，具有最低至6.7
            mN/m的表面能，因而被认为具有最佳的疏水性或疏冰性。文献研究了具有不同表面能的超疏水铝表面的水凝结现象，发现涂覆含F 量较高的PFO 聚合物涂层的超疏水铝表面，在-10
            ℃、相对湿度为90%时，仍具有较大的接触角和小滚动角。探讨了几种含氟聚合物的防覆冰性能，指出覆冰粘结强度与表面化学成分密切相关，表1 列出了不同化学成分的含氟聚合物的覆冰粘结强度。可以看出，表面化学成分中低O 高F
            含量的P-PTFE 涂层的覆冰粘结强度最低，高O 低F 含量的F-PU 涂层的覆冰粘结强度最高。这是由于F-PU
            涂层表面具有较多的极性基团，在与水或冰层之间形成氢键的过程中具有较大的相互作用力，因此冰层与表面之间的粘结强度较高。而高F 含量意味着低表面自由能，与水或冰原子之间的相互作用力弱，因而冰层与表面之间的粘结强度较低。
            <br>
            <img src="__INDEX__/custom/images/al1_5.png" style="display: block;margin: 0 auto;">
            <br>
            <br> 然而，通过改变表面化学组成，以降低表面自由能来获得超疏水性的方法不可行。根据Young
            氏模型，理想光滑表面的接触角仅与其表面化学性质有关，减小表面能可以使接触角增加，但这种方法有一定的极限，使用已知表面能最低的物质对光滑表面进行修饰，最大可获得的接触角仅为119°  。
            <br>
            <b>3.2 表面结构</b>
            <br>
            <br>
            <br> Young 氏模型只能描述理想光滑的固体表面的润湿性，而实际固体均具有一定的粗糙度，因而Wenzel 模型对Young
            氏方程进行了改进，认为固体表面的粗糙度可使疏水表面的接触角变大。Wenzel模型用于描述水滴在具有粗糙度且化学性质均一的表面的润湿性，当固体表面由不同化学性质的表面组成时，Cassie-Baxter
            模型更适用于多级分层结构。
            <br>
            <br>
            <br> Wenzel 模型与Cassie-Baxter 模型如图5 所示，可以直观地看出，水滴接触固体表面呈Cassie-Baxter
            状态时，固液接触面积比例很小，水滴大部分与空气相接触，粗糙结构能产生很多的气垫将水滴托起。
            <br>
            <img src="__INDEX__/custom/images/al1_6.png" style="display: block;margin: 0 auto;">
            <br>
            <br>
            由上可知，粗糙度和表面形貌可通过影响固体表面的润湿状态来影响水滴的接触角。因此超疏水表面的构造需要具有两个基本条件：一是低表面能物质，二是微纳粗糙结构。粗糙结构是影响超疏水表面发挥防覆冰功能的重要因素。一方面，超疏水涂层的微纳粗糙结构可以在一定程度上阻挡过冷水滴与表面之间的热传递，形成被保护表面的隔热层，因而能够减少或防止冰层的聚集。另一方面，超疏水的粗糙度有可能更有利于捕获过冷水滴，从而使其更容易形核而结冰，并且具有较强的钉扎力，从而提高覆冰粘结强度。
            <br>
            <br>
            <br>文献利用喷丸工艺制备出具有高粗糙度的试样，探讨了表面粗糙程度对覆冰粘结强度的影响。相同粗糙度的合金表面覆冰剪切强度随水接触角的增大而减小。当表面化学成分相同时，未处理的光滑Al
            表面的覆冰粘结强度总是低于经喷丸的粗糙Al
            表面。文献利用旋涂和喷涂工艺制备了具有不同粗糙度的硅橡胶纳米复合涂层，均具有优异的超疏水性能。然而经覆冰剪切强度的检测，发现经旋涂工艺制得的涂层能够明显降低覆冰粘结强度，ARF
            值接近于5，而喷涂工艺制得的涂层的ARF 值仅为1.17。这是由于两种工艺制得的涂层表面粗糙度不同造成的，旋涂工艺制备的涂层表面粗糙度为500 nm，而喷涂工艺制备的涂层表面粗糙度达8 μm。图6
            为旋涂与喷涂涂层表面3D 扫描图像。由于喷涂工艺制备的表面粗糙度较大，细小水滴更容易渗透进该类粗糙结构中而结冰，因此粗糙度大的喷涂涂层表面的覆冰粘结强度要远高于旋涂涂层表面。
            <br>
            <img src="__INDEX__/custom/images/al1_7.png" style="display: block;margin: 0 auto;">
            <br>
            <br> 因此，粗糙度是超疏水涂层具备超疏水效果的必要条件，然而对于其防覆冰功能的发挥是一把“双刃剑”，如何调控具有防覆冰功能的超疏水涂层的表面微观结构，仍需大量工作。
            <br>
            <br>
            <b>3.3 环境因素</b>
            <br>
            <br>
            由于覆冰通常发生在严寒的冻雨冰雪天气，超疏水涂层能否在低温下维持超疏水或疏冰特性是非常关键的问题，因而不得不考虑环境因素对超疏水涂层实现防覆冰功能的影响。一些研究关注超疏水涂层表面覆冰过程中的气象条件，如超疏水涂层在低温下的静态接触角与覆冰粘结强度的变化，认为超疏水涂层在低温下的静态接触角会变小，覆冰粘结强度提高，容易形成积冰。
            <br>
            <br>
            <br>
            由于覆冰现象与雨滴的微物理性密切相关，部分研究开始关注雨滴的微物理特性对超疏水涂层表面覆冰性能的影响。监测了覆冰发生前的气温、风速与风向等气象条件，并测量了位于湖北恩施天气雷达站的雨滴直径以及水滴含量，探讨了雨气的微物理特性对覆冰厚度与形貌的影响，认为冻雨是发生覆冰灾害的“催化剂”。文献通过零度风洞试验，调整气压与水压模拟覆冰气象参数，探讨了水滴平均直径与单位体积水滴含量对超疏水涂层表面防覆冰性能的影响，发现超疏水涂层防覆冰性能随着水滴平均直径与单位体积水滴含量的增加而急剧减弱，甚至消失。如何保持超疏水涂层在严酷条件下的防覆冰效果，仍然存在较大的技术挑战。
            <br>
            <br>
            <br>
            结合目前超疏水涂层防覆冰功能的研究进展，超疏水涂层若要实现防覆冰功效，需要考虑超疏水表面化学成分、微纳结构及环境因素的综合影响。目前在对输电线路超疏水涂层的防覆冰研究报道中，基本沿用或采用通用技术。传统超疏水防覆冰涂层的制备方法均需贵重设备或复杂工艺，现场施工难度大，效果难以保证，并且涂层耐磨性、耐候性能较差，而通过简单工艺构建具有优异耐磨性与耐候性的超疏水表面是超疏水涂层发挥防覆冰功能的关键。
            <br>
            <br>
            <b>3.4 超疏水表面防覆冰机理</b>
            <br>
            <br>
            <br> 超疏水表面在适当条件下可以实现延缓或防止覆冰的发生，为实现对超疏水表面的可控性，超疏水表面防覆冰机理研究是非常必要的。
            <br>
            <br>
            <br>基于Cassie-Baxter 模型，当水滴落在超疏水表面上时，水滴会与超疏水表面粗糙结构之间的空气接触，
            因而水滴与超疏水表面的实际接触面积＜10%。小的水滴接触面积比例是超疏水表面实现防覆冰的主导因素，它使超疏水表面具有较大的水接触角与小的滚动角，因而能使水滴在结冰前脱落，或者使水滴或冰层具有小的粘结强度而脱落。此外，超疏水表面能够延迟水滴的凝固结晶，从经典成核理论来讲，超疏水表面减少了异质形核的衬底，使其接近于均质形核，成核速率大大降低，因而不利于水滴结冰，从而实现防覆冰。因此防覆冰功能的实现是超疏水表面及其粗糙结构上的异质形核综合作用的结果。
            <br>
            <br>
            <br>专利（US2010314575Al）利用经典成核理论解释了纳米粒子尺寸对覆冰形成的影响，提出超疏水涂层的纳米粒径是影响冰晶形成的重要因素，研究认为较小的纳米粒径能够提高水滴结晶凝固的形核功，水滴需要克服较大的形核阻力才能开始结晶。A.
            <br>
            <br> Alizadeh
            借助经典成核理论解释了超疏水涂层表面延迟冰晶形成机制，指出在中等过冷度时，超疏水表面较大的水接触角能够减少固液接触面积，提升冰晶形核阻力，从而延迟水滴结冰。而在较大的过冷度下，气液表面成核成为主导因素，超疏水表面的作用明显削弱。基于成核理论对超疏水表面防覆冰机制的分析，可知超疏水表面具有防覆冰功能潜能，然而控制其组织结构使其适应各种温度等环境因素是目前亟需解决的问题。通过探究低温下水滴结冰过程，结合热量传递和经典成核理论等对超疏水表面的防雨凇覆冰机理研究是前沿理论，对输电线路防雨凇覆冰的机理研究具有重要的现实意义。
            <br>
            <br>
            <b style="color:#333399;font-size: 20px;">4 结语</b>
            <br>
            <br>
            在导线表面制备具有耐久性防覆冰性能的超疏水表面，是实现主动防覆冰的经济、可行的技术之一。 但就目前的超疏水涂料的技术现状来说，涂层所构建的微观粗糙结构和化学组成是决定其防覆冰性能的关键，经优化工艺制备的超疏水表面可以延缓或防止覆冰的发生。
            <br>
            <br>
            <br>目前对输电线路超疏水涂层的防覆冰研究报道中，还未见有规模化应用成功的报道。传统的超疏水防覆冰涂层的制备方法均需贵重设备或复杂工艺，现场施工难度大，效果难以保证。通过简单工艺构建具有优异耐磨性与耐候性的超疏水表面，并在严酷天气条件下维持其防覆冰性能，是超疏水涂层实现推广应用的关键。
            <br>
            <br>
            <br> 今后需要针对导线覆冰与超疏水表面防覆冰机理、超疏水防覆冰涂料性能的改进等开展深入研究。应提高涂料施工工艺的宽泛性，以适应输电线路不规则外形表面的大面积快速制备等，形成输电线路整体防覆冰研究与技术开发体系。
            <br>
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
    <footer>{include file="common/footer"}</footer>
  </div>
  <script src="__INDEX__/custom/js/jquery.min.js"></script>
  <script src="__INDEX__/custom/js/p.js"></script>
  <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
  <script>
  </script>
</body>

</html>