<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <!-- <meta name="full-screen" content="yes" /> -->
    <!-- <meta name="x5-fullscreen" content="true" /> -->
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>国家材料环境腐蚀科学数据中心</title>
    <link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/p.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
    <style>

    </style>
</head>

<body>
    <div class="main">
        <header>{include file="common/header"}</header>
        <nav>{include file="common/nav"}</nav>
        <div class="width-1200">
            <div class="platform pr">
                <div class="platform-content padding padding2" id="pone">
                    <h4 class="c-000 sc-center">核电厂金属疲劳监测过程中环境影响疲劳评价方法研究</h4>
                    <p class="c-999 sc-center">2018-09-11 16:00:56   作者：罗亚林，刘　新，陈　蓉，陈先龙，何大宇<br/>
												来源：深圳中广核工程设计有限公司,．核电安全监控技术与装备国家重点实验室
                    </p>
                    <p class="c-000">
						<br>
                          低周疲劳(LCF)损伤被认为是核电厂结构材料的主要老化机理之一,它一直是运行反应堆延寿应用以及新反应堆设计和许可所需技术评估和安全审查的关键内容之一｡尽管ASME第Ⅲ卷规定了核电结构材料的设计疲劳曲线,但这些设计曲线并没有包括冷却剂腐蚀环境对低周疲劳寿命的影响｡为了评估核电厂水化学环境的影响,日本和美国进行了大量的试验测试｡其中,美国的阿贡国家实验室(ANL)评估了材料､环境和载荷等因素对疲劳裂纹萌生和扩展的影响｡基于此,美国核管理委员会(NRC)发布了NUREG/CR-6909,提供和分析了关于环境疲劳的大量测试数据,同时开发了碳钢､低合金钢､不锈钢和镍-铬-铁合金的环境修正系数计算模型｡基于NUREG/CR-6909的技术报告,美国NRC发布了管理导则RG 1.207,要求新建核电厂考虑冷却剂环境对核1级部件设计产生的不利影响.
                        <br>
                        <br> 国内目前运行和在建的二代加型核电厂在主设备部件疲劳分析中均未考虑环境影响因素,对于新建核电厂的安全审查,核安全局要求申请者论证反应堆冷却剂对核1级部件的疲劳寿命影响｡国内一些相关设计单位和监管单位已陆续开展了相关的分析研究工作,其中孙海涛等提出依据成熟的影响评价方法完成分析和评价,并辅以疲劳监测和在役检查手段来保证电厂设备的安全和寿命｡此外,孙海涛等还利用高温高压循环水疲劳测试系统进行了国产锻造奥氏体不锈钢标准试样的低周疲劳试验,获得了应变幅对奥氏体不锈钢环境疲劳寿命的影响规律｡本文主要在相关学者研究的基础上,充分吸收和借鉴美国2014版NUREG/CR-6909技术报告和日本2011版JNES-SS-1005技术报告中关于环境疲劳因子的分析评价方法和计算模型,研究适合我国核电厂在线疲劳监测过程中的环境疲劳影响分析方法及疲劳修正系数(Fen)计算模型的选择｡
						<br>
						<br>
						<b style="color: #333399;font-size: 20px;">1 环境影响疲劳修正系数Fen</b>
                        <br>
                        <br> 环境影响疲劳寿命(EAF)的评价方法通常有两种,第1 种是给出考虑轻水反应堆(LWR)环境中的设计疲劳曲线,第2种是引入EAF的修正系数Fen｡第1种方法由于要考虑冷却剂环境的差异,要给出1个包络所有情况的设计疲劳曲线往往过于保守｡因此,国际上普遍利用大量试验数据分析研究Fen的影响因素和计算方法并发布相关技术报告,比较有代表性的就是日本JNES发布的JSME S NF1-2006/2009和美国NRC发布的NUREG/CR-6909｡</br>
                        <br>
                        <br>
                        <b> 1.1 Fen的定义</b>
                        <br>
                        <br>
                        <img src="__INDEX__/custom/images/al5_1.png" style="margin:0 auto;display:block;">
                        <br>
                        <br>
                        <b> 1.2 碳钢和低合金钢Fen相关试验分析</b>
                        <br>
                        <br>
                        <br> 1)金属中硫含量的影响
                        <br>
                        <br>
                        <br> 相关试验表明,碳钢和低合金钢在冷却剂环境中的疲劳寿命与钢中的硫含量有关,且硫含量及其形态是确定环境疲劳敏感性的最重要材料相关参数｡在289℃､溶解氧含量(Do)>0.7ppm 和0.001%/s的应变速率条件下,Fen和硫含量S 的关系如图1所示,其中实线是JSME S NF1-2006/2009规范中给出的关系曲线,虚线是2000年日本通产省(MITI)EAF相关导则中的曲线｡如图1所示,Fen随硫含量指数增加,JSME 规范中的硫含量-Fen曲线比MITI的斜率更大｡由于碳钢和低合金钢中硫含量对环境影响敏感性没有显着差异,通过最小二乘拟合分析两个数据集可得到Fen与硫含量的关系式｡
                        <br>
                        <br>
                        <img src="__INDEX__/custom/images/al5_2.png" style="margin:0 auto;display:block;">
                        <br>
                        <br>
                        <br> 图2示出碳钢中硫含量对应变速率-疲劳寿命关系的影响,可看出,应变速率较低时(不低于0.001%/s),硫含量对疲劳寿命影响较为显着,随应变速率的增加,硫含量的影响逐渐减弱｡当硫含量大于0.015%时,疲劳影响达到饱和状态｡
                        <br>
                        <br>
                        <img src="__INDEX__/custom/images/al5_3.png" style="margin:0 auto;display:block;">
                        <br>
                        <br>
						<br> 2)应变速率的影响</br>
                        <br>
                        <br>  Higuchi等给出了289℃､Do>0.7ppm且硫含量为0.015%的碳钢和低合金钢材料的应变速率与Fen的关系,如图3所示｡从图3可看出,Fen随应变速率的增加而衰减,碳钢与低合金钢的规律相似｡Chopra等的研究表明,当满足其他关键阈值条件(如应变幅值､温度和Do)时,LWR环境中碳钢和低合金钢的应变速率对疲劳寿命的影响比较显着,如图4所示,可看出,当应变速率低于某个阈值时,其对疲劳寿命的影响非常小｡当应变速率高于1%/s时,冷却剂环境中应变速率的影响与在空气中观察的一致｡
                        <br>
                        <br>
						<img src="__INDEX__/custom/images/al5_4.png" style="margin:0 auto;display:block;">
                        <br>
						<img src="__INDEX__/custom/images/al5_5.png" style="margin:0 auto;display:block;">
                        <br>
                        <br>
                        <br>3)冷却剂温度的影响
                        <br>
                        <br>图5示出冷却剂温度与碳钢、低合金钢的Fen的关系,图6示出冷却剂温度与碳钢疲劳寿命的关系。从图5、6可看出:ANL 以150~325℃范围的冷却剂温度作为Fen影响的显着区间;而JSME以50~160℃作为影响显着区间,增加了低温区域Fen的计算方法。
						<br> 
						<br> 
						<img src="__INDEX__/custom/images/al5_6.png" style="margin:0 auto;display:block;">
						<br> 
						<img src="__INDEX__/custom/images/al5_7.png" style="margin:0 auto;display:block;">
						<br> 
						<br> 
						<br>4)溶解氧含量的影响
						<br> 
						<br> 
						<br> JSME同样给出了硫含量为0.015%､温度为289℃时,Do对碳钢和低合金钢的Fen的影响,由试验数据可看出,Do在0.02~0.7ppm之间,Fen随Do指数增加｡同样,最新ANL试验表明,Do在0.04~0.5ppm之间,Fen随Do指数增加,此范围之外的Fen为恒定值｡
						<br> 
						<br>
                        <b>1.3 Fen计算模型</b>
						<br>
						<br>
						<br>利用试验数据可总结出Fen的计算模型｡
						<br>
						<br>JSME基于技术报告JNES-SS-0701,发布了环境疲劳评估方法(式(5)),美国NRC基于ANL的技术报告,发布了NUREG/CR-6909规范(式(6))｡通过对比分析可看出,两个Fen计算公式较为类似,影响Fen的各因素的边界条件也较为相似｡对于不锈钢材料,JNES-SS-0701考虑了锻件和铸件中应变速率影响疲劳的区别,而NUREG/CR-6909则重点考虑两种形式的不锈钢在冷却剂环境中溶解氧含量影响疲劳的区别｡其中:S* 为转换硫含量;T* 为转换温度;O* 为转换溶解氧含量;ε* 为转换应变速率｡
						<br>
						<br>
						<br>
						<b style="color: #333399;font-size: 20px;"> 2 实际瞬态中考虑Fen的累积疲劳使用因子估算方法</b>
						<br>
						<br>   
						<b> 2.1 Fen计算公式分析讨论</b>
                        <br>
                        <br>                     
						<br>根据核电厂的运行经验,冷却剂中Do通常非常低,通常一回路在化学除氧后Do维持在0.005ppm 以下,对于碳钢､低合金钢以及不锈钢而言,Fen中转换溶解氧含量可认为是一恒定值,因此,在核电厂运行过程中,进行疲劳监测时考虑环境疲劳影响Fen修正公式的关键因素在于应变速率和冷却剂温度｡
						<br>
						<br>
						<br> 以硫含量为0.015%的碳钢/低合金钢为例,在冷却剂温度为288℃､Do低于0.04ppm的冷却剂环境中,可得出应变速率与Fen的关系,如图7a所示｡同样,改变冷却剂温度可得到如图7b所示的应变速率与Fen的关系｡当设置应变速率为0.001%/s时,可得到冷却剂温度与Fen的关系,如图7c所示｡实际核电厂运行温度刚好在Fen变化比较明显的区域,所以温度对材料的疲劳影响较大｡
						<br>
						<br>
						<img src="__INDEX__/custom/images/al5_8.png" style="margin:0 auto;display:block;">
						<br>
						<br>
						<br>在冷却剂温度为288℃､Do低于0.1ppm的冷却剂环境中,不锈钢材料的应变速率与Fen的关系如图8所示｡从图7c和8可知:对于碳钢和低合金钢,美国规范中Fen估算结果通常较日本规范更保守一些;对于不锈钢,日本规范估算结果更保守一些｡对于相同冷却剂环境下,不锈钢材料的Fen比碳钢/低合金钢材料的Fen大,且应变速率和温度的变化对疲劳也较敏感｡
						<br>
						<br>
						<img src="__INDEX__/custom/images/al5_9.png" style="margin:0 auto;display:block;">
						<br>
						<br>
						<br>此外,孙海涛等进行的国产锻造奥氏体不锈钢标准试样的低周疲劳试验表明,NUREG/CR-6909规范的Fen修正公式所得的预测曲线基本包络国产奥氏体不锈钢的EAF效应｡
						<br>
						<br>
						<b>2.2 累积疲劳使用因子估算方法</b>
						<br>
						<br>
						<br>研究表明,分析设计规范中使用的疲劳设计曲线并不保守,且未考虑冷却剂环境的影响｡
						<br>
						<br>
						<br>ASME虽已认识到冷却剂环境会加速材料疲劳,且已着手考虑增加考虑冷却剂环境影响的疲劳设计曲线,但尚未正式出版相关修订导则｡由于设计瞬态与真实瞬态存在差异,因此很难在设计阶段得出既准确又包络所有瞬态的疲劳设计曲线｡设计阶段使用考虑环境影响的疲劳设计曲线将会过于保守,可用于新设计电厂的评价,但不利于已运行电厂的定期安全审查和延寿｡
						<br>
						<br>
						<br>为此需借助一定的监测手段,掌握真实的瞬态数据,在监测过程中考虑冷却剂环境的影响｡比较合适可行的方法就是利用大量试验数据拟合得出Fen计算公式,对累积疲劳使用因子(CUF)进行系数修正｡CUF的修正公式如下:
						<br>
						<br>
						<img src="__INDEX__/custom/images/al5_10.png" style="margin:0 auto;display:block;">
						<br>
						<br>
						<br>式中:UTOTAL为考虑环境因素的累积疲劳使用因子;ni为第i 个应力组合出现的次数;Ni为第i个交变应力强度对应设计疲劳曲线上的使用次数;k为应力循环对数;Fen,i为第i 个应力组合对应的环境影响因子修正系数｡
						<br>
						<br>
						<br>其中,计算Fen,i时所需应变速率ε 的计算公式如下:
						<br>
						<br>
						<img src="__INDEX__/custom/images/al5_11.png" style="margin:0 auto;display:block;">
						<br>
						<br>
						<br>式中:σ′I为应力强度幅值;Δt为两时刻的时间间隔;Ea为疲劳计算时的弹性模量。
						<br>
						<br>
						<b> 2.3 算例分析</b>
						<br>
						<br>
						<br> 利用某沸水堆碳钢给水接管安全端疲劳损伤评价数据[8]进行测试,同时采用美国和日本的Fen修正公式进行计算,计算结果列于表1｡
						<br>
						<br>
						<br>表1中,Uair和Uen分别为空气中和环境中的使用因子｡由表1可看出,根据ASME设计疲劳曲线计算所得的Uair<1,NUREG修正公式的计算结果依然小于1,但是JSME的计算结果大于1,说明根据JSME导则,该给水管的安全端在服役环境下的安全裕量可能不足,存在失效的风险,需进行重视｡
						<br>
						<br>
						<img src="__INDEX__/custom/images/al5_12.png" style="margin:0 auto;display:block;">
						<br>
						<br> 由表1结果也可看出,在相同情况下,采用NUREG修正公式计算的Fen比JSME 的偏小,这与图7a的结果并不吻合,这是因为图7a是在低Do情况下得出的,而本算例的Do为0.2ppm｡通过设置不同Do进行计算分析,可发现200℃流体环境温度下,0｡015%硫含量的碳钢在Do大约为0｡024ppm时,两种导则的Fen计算结果较接近,大于此含量时,JSME的计算结果更保守,否则,NUREG的计算结果更保守｡
						<br>
						<br>
						<b style="color: #333399;font-size: 20px;">总结</b>
						<br>
						<br>
						<br>利用美国和日本的Fen计算公式,对在役核电厂和新建电厂配备的疲劳在线监测系统中引入Fen,对冷却剂环境影响疲劳进行修正。
						<br>
						<br> 在较低浓度的氧气含量环境中,对于碳钢与低合金钢,采用NUREG/CR-6909规范中的Fen公式较保守,对于不锈钢,采用日本JSME SNF1-2006/2009规范中的Fen公式较保守,但由于溶解氧含量界限不确定,还与冷却剂温度等因素相关,因此,建议在线疲劳监测系统同时采用两种修正公式进行计算,计算结果可选择累积疲劳使用因子较大的数据｡
						<br>
						<br> 希望国内充分重视冷却剂环境对核电厂部件结构材料的影响,尤其在国产化核电设备材料的大趋势下,通过大量模拟试验量化我国核级管道材料高温高压水腐蚀疲劳寿命影响因子,包括温度､应变速率､水中溶解氧含量､钢中硫含量等因素的影响,最终拟合出适合我国LWR环境和材料的Fen修正计算公式、同时跟踪并参考ASME规范的最新变化,明确自身的安全性能指标,提出适用于我国核电厂设备材料的疲劳设计曲线,为自主化新机组的设计和运行提供安全保障｡
						<br>
						<br>
						<br>
						<b></b>
					</p>
                </div>
            </div>
        </div>
        <footer>{include file="common/footer"}</footer>
    </div>
    <script src="__INDEX__/custom/js/jquery.min.js"></script>
    <script src="__INDEX__/custom/js/p.js"></script>
    <script src="__INDEX__/custom/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>

</html>