<form class="layui-form login-form">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="name" required  lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="pass" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  {if condition="$status == -1"}
    <script>
      layui.use('layer', function(){
        layer.msg("用户名或密码错误！");
      })
    </script>
  {elseif condition="$status == 1"}
    <script>
      layui.use('layer', function(){
        layer.msg("登录成功！");
      });
    </script>
  {/if}
  <button class="submit large active" lay-submit lay-filter="login-form">登录</button>
</form>

<script>
  layui.use('form', function(){
    var form = layui.form;

    //监听提交
    form.on('submit(login-form)', function(data){
      //layer.msg(JSON.stringify(data.field));
    });
  });
</script>