{include file="public/header"}
<!-- 内容主体区域 -->
<div class="layui-body">
  <div style="padding: 15px;">
    <form style="margin-top:50px;" class="layui-form" action="./update" method="post">
      <div class="layui-form-item">
        <label class="layui-form-label">所属数据名</label>
        <div class="layui-input-block">
          <select name="cid" lay-verify="required">
            {volist name="wcates" id="vo"}
            <option value="{$vo.id}">{$vo.name}</option>
            {/volist}
          </select>
        </div>
      </div>


      <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
          <!-- 室内/室外数据 type -->
          <input type="text" name="type" value="1" style="display: none;" required lay-verify="required" autocomplete="off"
            class="layui-input">
          <!-- 室内/室外数据 type -->
          <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验地址</label>
        <div class="layui-input-block">
          <input type="text" name="position" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验周期(月)</label>
        <div class="layui-input-block">
          <input type="number" name="cycle" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">材料名称</label>
        <div class="layui-input-block">
          <input type="text" name="mname" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">数据内容</label>
        <div class="layui-input-block">
          <div id="editor">
            <table width="112" height="152">
              <colgroup>
                <col width="56">
                <col width="56">
              </colgroup>
              <tbody>
                <tr height="19">
                  <td x:str="" height="19" width="56">项目</td>
                  <td x:str="" height="19" width="56">值</td>
                </tr>
                <tr height="19">
                  <td x:str="" height="19" width="56"><br></td>
                  <td x:num="60195" height="19" width="56"></td>
                </tr>
                <tr height="19">
                  <td x:str="" height="19" width="56"><br></td>
                  <td x:num="0.35" height="19" width="56"></td>
                </tr>
                <tr height="19">
                  <td x:str="" height="19" width="56"><br></td>
                  <td x:num="0.025" height="19" width="56"></td>
                </tr>
                <tr height="19">
                  <td x:str="" height="19" width="56"><br></td>
                  <td x:num="0.025" height="19" width="56"><br></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <p><br></p>
          </div>
          <textarea name="content" id="content" class="editor-content" style="display: none;" required lay-verify="required"></textarea>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">增加</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/static/vendor/wangeditor/wangEditor.js"></script>
<script type="text/javascript">
  $(".editor-content").hide()
  var E = window.wangEditor
  var editor = new E('#editor')
  var $text1 = $('#content')
  editor.customConfig.onchange = function (html) {
    // 监控变化，同步更新到 textarea
    $text1.val(html)
  }
  editor.create()
  // 初始化 textarea 的值
  $text1.val(editor.txt.html())

  layui.use('form', function () {
    var form = layui.form;
  });
</script>

{include file="public/footer"}