{include file="public/header"}

<div class="avatar-select analysis-select">
  <div>
    <img src="__IMG__/avatar.png">
  </div>
  <div class="disable">
    <img src="__IMG__/avatar.png">
  </div>
  <span id="active-date-select">日期选择</span>
</div>

<div class="plan-detail-container activity-tree">
  <div class="plan-detail-item">
    <div class="dot"></div>
    <p class="time">
      10月25日
    </p>
    <div class="detail">
      <ul>
        <li>
          完成了XXX课程初级训练，获得了XX证书～
          <span>
              <!-- <img class="like" src="__ICON__/like-selected.png"> -->
              <img class="like" src="__ICON__/like.png">
              9
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="plan-detail-item">
      <div class="dot"></div>
      <p class="time">
        10月25日
      </p>
      <div class="detail">
        <ul>
          <li>
            完成了XXX课程初级训练，获得了XX证书～
            <span>
                <!-- <img class="like" src="__ICON__/like-selected.png"> -->
                <img class="like" src="__ICON__/like.png">
                9
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plan-detail-item">
        <div class="dot"></div>
        <p class="time">
          10月25日
        </p>
        <div class="detail">
          <ul>
            <li>
              完成了XXX课程初级训练，获得了XX证书～
              <span>
                  <!-- <img class="like" src="__ICON__/like-selected.png"> -->
                  <img class="like" src="__ICON__/like.png">
                  9
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="plan-detail-item">
          <div class="dot"></div>
          <p class="time">
            10月25日
          </p>
          <div class="detail">
            <ul>
              <li>
                完成了XXX课程初级训练，获得了XX证书～
                <span>
                    <!-- <img class="like" src="__ICON__/like-selected.png"> -->
                    <img class="like" src="__ICON__/like.png">
                    9
                </span>
              </li>
            </ul>
          </div>
        </div>
</div>

<div id="time"></div>
<script>
  var calendar = new datePicker()
  calendar.init({
    'trigger': '#time', //'.plan-detail-container .edit-time',
    /*按钮选择器，用于触发弹出插件*/
    'type': 'date',
    /*模式：date日期；datetime日期时间；time时间；ym年月；*/
    'minDate': '1900-1-1',
    'maxDate': '2100-12-31',
    'onSubmit': function () { /*确认时触发事件*/
      var theSelectData = calendar.value;
      console.log("新的时间为", theSelectData)
    },
    'onClose': function () { /*取消时触发事件*/ }
  });

  $("#active-date-select").click(e => {
    $("#time").click()
  })
</script>

{include file="public/footer"}