{include file="public/header"}

<div class="avatar-select analysis-select">
  <div>
    <img src="__IMG__/avatar.png">
  </div>
  <div class="disable">
    <img src="__IMG__/avatar.png">
  </div>
</div>
<div class="filter-container">
  <select class="cate">
    <option value="1">初级阶段</option>
    <option value="1">中级阶段</option>
    <option value="1">高级阶段</option>
  </select>
  <select class="cate">
    <option value="1">第一阶段</option>
    <option value="1">第二阶段</option>
  </select>
  <select class="cate">
    <option value="1">第一周训练</option>
    <option value="1">第二周训练</option>
  </select>
  <select class="cate">
    <option value="1">课题题目</option>
    <option value="1">课题题目1</option>
  </select>
</div>

<div class="analysis-container">
  <div class="analysis-item">
    <div class="left">
      <img src="__ICON__/analysis1.png">
    </div>
    <div class="mid">
      <div class="process-container">
        <div class="process"></div>
      </div>
    </div>
    <div class="right">
      +8
    </div>
  </div>
  <div class="analysis-item">
    <div class="left">
      <img src="__ICON__/analysis2.png">
    </div>
    <div class="mid">
      <div class="process-container">
        <div class="process"></div>
      </div>
    </div>
    <div class="right">
      +8
    </div>
  </div>
  <div class="analysis-item">
    <div class="left">
      <img src="__ICON__/analysis3.png">
    </div>
    <div class="mid">
      <div class="process-container">
        <div class="process"></div>
      </div>
    </div>
    <div class="right">
      +8
    </div>
  </div>
  <div class="analysis-item">
    <div class="left">
      <img src="__ICON__/analysis4.png">
    </div>
    <div class="mid">
      <div class="process-container">
        <div class="process"></div>
      </div>
    </div>
    <div class="right">
      +8
    </div>
  </div>
  <div class="analysis-item">
    <div class="left">
      <img src="__ICON__/analysis5.png">
    </div>
    <div class="mid">
      <div class="process-container">
        <div class="process"></div>
      </div>
    </div>
    <div class="right">
      +8
    </div>
  </div>
</div>
<div class="share-analysis">
  <button class="small active">
    分享成绩
  </button>
  <button class="small">
    下载成绩
  </button>
</div>

{include file="public/footer"}