{include file="public/header"}

<div class="plan-header">
    <img src="/static/mobile/image/avatar-test.jpg">
    <img src="/static/mobile/image/avatar-test.jpg">
  </div>

<div class="subject-container">
  <div class="subjects">
    <div class="subject">
      <div class="subj-card">
        <img src="/static/mobile/image/subject3.png">
        <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
  </div>
</div>

{include file="public/footer"}