{include file="public/header"}

<div class="cell-group">
    <div class="cell avatar">
        <div class="cell-con">
          个人资料设置
          <div class="right">
            <img class="avatar" src="{$user->avatar}">
          </div>
        </div>
      </div>
    <div class="cell">
      <div class="cell-con">
        实名认证
        <div class="right">
          {$user->valid==0? '未认证':'已实名'}
          <img class="next" src="__ICON__/next.png">
        </div>
      </div>
    </div>
    <div class="cell">
        <div class="cell-con">
          更换手机号
          <div class="right">
            {$user->phone}
            <img class="next" src="__ICON__/next.png">
          </div>
        </div>
      </div>
</div>

<div class="cell-group">
    <div class="cell">
        <div class="cell-con">
          学生信息
          <div class="right">
            <img class="next" src="__ICON__/next.png">
          </div>
        </div>
      </div>
    <div class="cell">
      <div class="cell-con">
        消息设置
        <div class="right">
          <img class="next" src="__ICON__/next.png">
        </div>
      </div>
    </div>
</div>

<div class="cell-group">
    <div class="cell">
        <div class="cell-con">
          联系客服
          <div class="right">
            <img class="next" src="__ICON__/next.png">
          </div>
        </div>
      </div>
    <div class="cell">
      <div class="cell-con">
        清除缓存
        <div class="right">
          <img class="next" src="__ICON__/next.png">
        </div>
      </div>
    </div>
    <div class="cell">
        <div class="cell-con">
          关于我们
          <div class="right">
            <img class="next" src="__ICON__/next.png">
          </div>
        </div>
      </div>
</div>

<div class="cell-group">
    <div class="cell exit">
        <div class="cell-con">
          退出
        </div>
      </div>
</div>

<input id="img" type="file" style="display: none" accept="image/png, image/jpeg, image/jpg">

<script>
  $(".exit").click(e => {
    $.ajax({
      url: '/common/User/logout',
      method: 'get',
      success: r => {
        console.log(r)
        this.router.push("/mine")
      }
    })
  })

  //点击头像时调出图片选择
  $(".avatar").click(e => {
    e.stopPropagation()
    selectFile()
  })
  //用户选择图片之后，上传图片，并更新图片
  $("#img").change(uploadImage)

  function selectFile () {
    $("#img").click()
  }

  //上传图片
  function uploadImage () {
    let file = $("#img").val()
    let data = new FormData()
    data.set('image', file);

    $.ajax({
      url: "/common/Uplaod/go",
      method: "POST",
      data: data,
      success: res => {
        console.log(res)
      },
      error: err => {
        console.log(err)
      }
    })
  }
</script>

{include file="public/footer"}