{include file='public/header'}


<div class="search-container">
  <input type="text" placeholder="请输入题目">
  <span>搜索</span>
</div>

<div class="subject-container">
  <div class="filter-container">
    <select class="cate">
      <option value="1">初级阶段</option>
      <option value="1">中级阶段</option>
      <option value="1">高级阶段</option>
    </select>
    <select class="cate">
      <option value="1">第一阶段</option>
      <option value="1">第二阶段</option>
    </select>
    <select class="cate">
      <option value="1">第一周训练</option>
      <option value="1">第二周训练</option>
    </select>
  </div>
  <div class="avatar-select">
    <div>
      <img src="__IMG__/avatar.png">
    </div>
    <div class="disable">
      <img src="__IMG__/avatar.png">
    </div>
  </div>
  <div class="train-process">
      <div class="text">训练进度：</div>
      <div class="process-container">
        <span class="process"></span>
      </div>
  </div>
  <div class="subjects">
    <div class="subject">
      <div class="subj-card">
        <img src="/static/mobile/image/subject3.png">
        <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
  </div>
</div>



{include file='public/footer'}