{include file="public/header"}

<div class="search-container">
  <input type="text" placeholder="请输入题目">
  <span>搜索</span>
</div>

<div class="subject-container">
  <div class="filter-container">
    <select class="cate">
      <option value="1">初级阶段</option>
      <option value="1">中级阶段</option>
      <option value="1">高级阶段</option>
    </select>
    <select class="cate">
      <option value="1">第一阶段</option>
      <option value="1">第二阶段</option>
    </select>
    <select class="cate">
      <option value="1">第一周训练</option>
      <option value="1">第二周训练</option>
    </select>
  </div>
  <div class="subjects">
    <div class="subject">
      <div class="subj-card">
        <img src="/static/mobile/image/subject3.png">
        <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject3.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject2.png">
      <p>我的课程</p>
      </div>
    </div>
    <div class="subject">
      <div class="subj-card">
      <img src="/static/mobile/image/subject1.png">
      <p>我的课程</p>
      </div>
    </div>
  </div>
</div>

<div class="payment-container">
  <p class="title">需支付：¥ 999</p>
  <p class="remark">初级训练第一阶段</p>

  <button type="button">立即支付</button>
</div>

{include file="public/footer"}