<div class="width-1200">
    <div class="clearfix">
        <div class="footer-ul-list clearfix">
            <ul class="ullist">
                <li class="li"><a href="{:url('index/about/index')}">关于我们</a></li>
                <li class="li"><a href="javascript:;">平台介绍</a></li>
                <li class="li"><a href="javascript:;">组织架构</a></li>
                <li class="li"><a href="javascript:;">发展历程</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="javascript:;">数据中心</a></li>
                <li class="li"><a href="{:url('index/basic/index')}">基础数据</a></li>
                <li class="li"><a href="{:url('index/outdoor/index')}">野外数据</a></li>
                <li class="li"><a href="{:url('index/indoor/index')}">室内数据</a></li>
                <li class="li"><a href="{:url('index/realtime/index')}">实时数据</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="{:url('index/standard/index')}">标准规范</a></li>
                <li class="li"><a href="javascript:;">基础数据标准</a></li>
                <li class="li"><a href="javascript:;">野外数据标准</a></li>
                <li class="li"><a href="javascript:;">室内数据标准</a></li>
                <li class="li"><a href="javascript:;">实时数据标准</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="{:url('index/example/index')}">应用案例</a></li>
                <li class="li"><a href="javascript:;">风电腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">桥梁腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">核电腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">电网腐蚀监测</a></li>
            </ul>
        </div>
        <div class="foot_right">
            <div class="foot_tel" style="height:60px">
                <p>010-62333931</p>
            </div>
            <div class="foot_right1"> 国家材料环境腐蚀科学数据中心 <a target="_blank" href="http://www.miitbeian.gov.cn/" style="color:red;">备案号（暂无）</a> Copyright @2018
                <br> 服务热线：010-62333931&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：010-62334300
                <br>网址：www.corrdata.org
                <br> 地址：北京市海淀区学院路30号 北京科技大学 腐蚀楼502
            </div>
            <div class="share">
                <h6>分享到:</h6>
                <ul class="clearfix">
                    <li class="wb"> <a class="jiathis_button_tsina"></a> </li>
                    <li class="wx"><a class="jiathis_button_weixin"></a> </li>
                    <li class="gg"> <a rel="nofollow" onclick="jiathis_sendto('googleplus');return false;" class="c1a"></a> </li>
                    <li class="ff"> <a rel="nofollow" onclick="jiathis_sendto('fb');return false;" class="c1a"></a> </li>
                    <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
                </ul>
            </div>
        </div>
    </div>
    <div class="link clearfix">
        友情连接：&nbsp;&nbsp;
        <div class="sc-fr">
            <a target="_blank" href="http://icgr.caas.net.cn/">国家农作物种质资源平台</a>
            <a target="_blank" href="http://www.nimr.org.cn">国家微生物资源平台</a>
            <a target="_blank" href="http://www.ncrm.org.cn/">国家标准物质资源共享平台</a>
            <a target="_blank" href="http://cellresource.cn/">国家实验细胞资源共享平台</a>
            <a target="_blank" href="http://www.cdad-is.org.cn/">家养动物种质资源平台</a>
            <a target="_blank" href="http://zzzy.fishinfo.cn/">水产种质资源平台</a>
            <a target="_blank" href="http://www.nfgrp.cn/">国家林木种质资源平台</a>
            <a target="_blank" href="http://www.cfsdc.org/">林业科学数据平台</a>
            <a target="_blank" href="http://www.geodata.cn/">地球系统科学数据共享平台</a>
            <a target="_blank" href="http://www.ncmi.cn/">人口与健康科学数据共享平台</a>
            <a target="_blank" href="http://www.agridata.cn/">农业科学数据共享中心</a>
            <a target="_blank" href="http://cdc.nmic.cn/home.do">气象科学数据共享中心</a>
            <a target="_blank" href="http://data.earthquake.cn/">地震科学数据共享中心</a>
            <a target="_blank" href="http://www.nstl.gov.cn/">国家科技图书文献中心</a>
            <a target="_blank" href="http://www.cssn.net.cn/">国家标准文献共享服务平台</a>
            <a target="_blank" href="http://www.cnern.org/">国家生态系统观测研究网络</a>
            <a target="_blank" href="http://www.npsic.cn/ExplorerEntry/index.aspx?act=index">国家大型科学仪器中心平台</a>
            <a target="_blank" href="http://www.ceas.org.cn/">中国应急分析测试平台</a>
            <a target="_blank" href="http://www.nsii.org.cn/">国家标本资源共享平台</a>
            <a target="_blank" href="http://www.bjshrimp.cn/">北京离子探针中心</a>
            <a target="_blank" href="http://www.cdstm.cn/">中国数字科技馆</a>
            <a target="_blank" href="http://www.ecorr.org/">中国腐蚀与防护网</a>
            <a target="_blank" href="http://www.nms.org.cn/">国家计量基标准（物理部分）资源共享基地</a>
        </div>
    </div>
</div>