<div class="width-1200">
    <div class="clearfix">
        <div class="footer-ul-list clearfix">
            <ul class="ullist">
                <li class="li"><a href="{:url('index/about/index')}">关于我们</a></li>
                <li class="li"><a href="javascript:;">平台介绍</a></li>
                <li class="li"><a href="javascript:;">组织架构</a></li>
                <li class="li"><a href="javascript:;">发展历程</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="javascript:;">数据中心</a></li>
                <li class="li"><a href="{:url('index/basic/index')}">基础数据</a></li>
                <li class="li"><a href="{:url('index/outdoor/index')}">野外数据</a></li>
                <li class="li"><a href="{:url('index/indoor/index')}">室内数据</a></li>
                <li class="li"><a href="{:url('index/realtime/index')}">实时数据</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="{:url('index/standard/index')}">标准规范</a></li>
                <li class="li"><a href="javascript:;">基础数据标准</a></li>
                <li class="li"><a href="javascript:;">野外数据标准</a></li>
                <li class="li"><a href="javascript:;">室内数据标准</a></li>
                <li class="li"><a href="javascript:;">实时数据标准</a></li>
            </ul>
            <ul class="ullist">
                <li class="li"><a href="{:url('index/example/index')}">应用案例</a></li>
                <li class="li"><a href="javascript:;">风电腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">桥梁腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">核电腐蚀监测</a></li>
                <li class="li"><a href="javascript:;">电网腐蚀监测</a></li>
            </ul>
        </div>
        <div class="foot_right">
            <div class="foot_tel" style="height:60px">
                <p>010-62333931</p>
            </div>
            <div class="foot_right1"> 国家材料环境腐蚀科学数据中心 <a target="_blank" href="http://www.miitbeian.gov.cn/" style="color:red;">备案号（暂无）</a>
                Copyright @2018
                <br> 服务热线：010-62333931&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：010-62334300
                <br>网址：www.corrdata.org
                <br> 地址：北京市海淀区学院路30号 北京科技大学 腐蚀楼502
            </div>
            <div class="share">
                <h6>分享到:</h6>
                <ul class="clearfix">
                    <li class="wb"> <a class="jiathis_button_tsina"></a> </li>
                    <li class="wx"><a class="jiathis_button_weixin"></a> </li>
                    <li class="gg"> <a rel="nofollow" onclick="jiathis_sendto('googleplus');return false;" class="c1a"></a>
                    </li>
                    <li class="ff"> <a rel="nofollow" onclick="jiathis_sendto('fb');return false;" class="c1a"></a>
                    </li>
                    <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
                </ul>
            </div>
        </div>
    </div>
    <div class="link clearfix">
        友情连接：&nbsp;&nbsp;
        <div class="sc-fr">
            {volist name="friends" id="vo"}
            <a target="_blank" href="http://{$vo.linkto}">{$vo.name}</a>
            {/volist}
            <br>
            <br>
        </div>
    </div>
</div>