<div class="width-1200 clearfix">
    <div class="sc-fl logo-text">
        <a href="index.html">
            <h1>{$site->title}</h1>
            <h6>{$site->vicedesc}</h6>
            <p class="c-999">{$site->vicetitle}</p>
            <h6>{$site->description}</h6>
        </a>
    </div>
    <div class="sc-fr searchall pr">
        <div class="pa">
            <div class="sc-fr qiehuan">
                <span class="active">中</span>
                <span class="">EN</span>
            </div>
            {if condition="cookie('corrosion_token')"}
            <a href="{:url('index/login/logout')}" class="register sc-fr">退出</a>
            <a href="{:url('index/personal/index')}" class="login sc-fr" style="width: 80px;">个人中心</a>
            {else}
            <a href="{:url('index/login/register')}" class="register sc-fr">注册</a>
            <a href="{:url('index/login/index')}" class="login sc-fr">登录</a>
            {/if}
            <div class="sc-fl search">
                <button><img src="./images/a.png" alt=""></button>
                <input type="text" placeholder="请输入您要搜索的内容" id="lang">
                <div style="display: none" id="huangbiao">
                    <ul>
                        <li>标准电极电势</li>
                        <li>材料力学性能</li>
                        <li>常用参比电极电位表</li>
                        <li>单质及化合物的基本热力学参数</li>
                        <li>气体在水中的溶解度</li>
                        <li>元素的物理性质</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>