<div class="width-1200">
    <ul class="clearfix">
        <li><a href="{:url('index/index')}">首页</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('about/index')}">平台简介</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('basic/index')}">基础数据</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('outdoor/index')}">野外数据</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('indoor/index')}">室内数据</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('realtime/index')}">实时数据</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('standard/index')}">标准规范</a></li>
        <img src="__INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
        <li><a href="{:url('example/index')}">应用案例</a></li>
    </ul>
</div>
<!--  <li><a href="sjzx.html">数据中心</a></li>

        <li><a href="ssjk.html">实时监控</a></li>
        <li><a href="jsqy.html">技术前沿</a></li>
        <li><a href="gywm.html">关于我们</a></li> -->