<div class="layui-row">
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
        <div class="grid-demo grid-demo-bg1 logo">
            <img src="__INDEX__/custom/image/logo.png" style="margin-right:10px"> 娱 | 教 | 于 | 乐
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 nav">
        <div class="grid-demo">
            <span>
                <a href="{:url('/index/index/index')}">首页</a>
            </span>
            <span>
                <a href="{:url('/index/dome/index')}">试玩专区</a>
            </span>
            <span>
                <a href="{:url('/index/practice/index')}">训练营</a>
            </span>
        </div>
    </div>
</div>