<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice</title>
    <link rel="stylesheet" href="__VENDOR__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__INDEX__/custom/css/main.css">
</head>

<body>
    <!-- header start -->
    <div id="Dome-Header" class="layui-container">
        {include file="/common/login-nav"}
    </div>
    <!-- header end -->

    <!-- content start -->

    <div id="Content">
        <form id="" class="layui-form" action="?">
            <div class="Title">
                <i class="mark"></i>
                <h2>
                    <a href="#">发表动态</a>
                </h2>
                <i class="mark"></i>
            </div>

            <div id="newsInfo">
                <div class="layui-form-item layui-form-text">
                    <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                    <div style="margin-top:13px; margin-left:10px">选择发生位置:</div>
                </div>
            </div>

            <div class="Pictrue">
                <img src="__INDEX__/custom/image/camera.png" alt="">
            </div>

            <div class="layui-form-item SendInfo">
                <div class="layui-input-block">
                    <button class="layui-btn" style="background-color:#f37942; width:100px;margin-left:20px;" lay-submit lay-filter="formDemo">保存</button>
                </div>
            </div>
        </form>
    </div>
    <!-- content end -->

    <script src="__INDEX__/vendor/js/jquery-3.0.0.js"></script>
    <script src="__VENDOR__/layui/layui.js"></script>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</body>

</html>