<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice</title>
    <link rel="stylesheet" href="__VENDOR__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__INDEX__/custom/css/main.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/pageinfo.css">
    <link rel="stylesheet" href="__INDEX__/custom/css/Speed.css">
</head>

<body>
    <!-- header start -->
    <div id="Dome-Header" class="layui-container">
        {include file="/common/login-nav"}
    </div>
    <!-- header end -->

    <!-- content start -->

    <div id="Content">
        <div class="Item Demo">

            <div class="Title">
                <i class="mark"></i>
                <h2>
                    <a href="#">已购买训练</a>
                </h2>
                <i class="mark"></i>
            </div>

            <div id="retrieval">
                <div class="layui-input-block">
                    <select class="Select" name="city" lay-verify="">
                        <option value="">初级阶段</option>
                        <option value="010">北京</option>
                        <option value="021">上海</option>
                        <option value="0571">杭州</option>
                    </select>
                    <select class="Select Second-select" name="city" lay-verify="">
                        <option value="">第一阶段</option>
                        <option value="010">北京</option>
                        <option value="021">上海</option>
                        <option value="0571">杭州</option>
                    </select>
                    <select class="Select" name="city" lay-verify="">
                        <option value="">第一阶段</option>
                        <option value="010">北京</option>
                        <option value="021">上海</option>
                        <option value="0571">杭州</option>
                    </select>
                </div>
                <div id="Psearch">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标目名称" autocomplete="off">
                    <img src="__INDEX__/custom/image/search.png">
                    <span>解锁训练</span>
                </div>
            </div>

            <div id="Speed">
                <span>训练进度：</span>
                <div class="layui-progress layui-progress-big" lay-showPercent="true">
                    <div class="layui-progress-bar" lay-percent="44%"></div>
                </div>
            </div>

            <div class="layui-row layui-col-space5 List">
                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo grid-demo-bg1">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome1.jpg">
                        </a>
                        <span>小鸡找孩子</span>
                    </div>
                </div>
                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome2.jpg">
                        </a>
                        <span>快乐的啄木鸟</span>
                    </div>
                </div>
                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo grid-demo-bg1">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome3.jpg">
                        </a>
                        <span>小花的表演</span>
                    </div>
                </div>

                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo grid-demo-bg1">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome1.jpg">
                        </a>
                        <span>小鸡找孩子</span>
                    </div>
                </div>
                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome2.jpg">
                        </a>
                        <span>快乐的啄木鸟</span>
                    </div>
                </div>
                <div class="layui-col-md4 List-Item">
                    <div class="grid-demo grid-demo-bg1">
                        <a href="#">
                            <img class="Paying" src="__INDEX__/custom/image/Dome3.jpg">
                        </a>
                        <span>小花的表演</span>
                    </div>
                </div>
            </div>
            <div id="Pageinfo" class="grid-demo grid-demo-bg2">
            </div>
        </div>
    </div>
    <!-- content end -->
    <script src="__INDEX__/vendor/js/jquery-3.0.0.js"></script>
    <script src="__VENDOR__/layui/layui.js"></script>
    <script>
       /* form模块用来监控表单控件的，layer模块弹出层的依赖模块，laypage模块分页的依赖模块，element模块进度条的依赖模块 */
        layui.use(['form', 'layer','laypage','element'], function () {
            /* 实例化一个弹出层对象 */
            var form = layui.form, layer = layui.layer;
            /* 实例化一个分页对象 */
            var laypage = layui.laypage;
            /* 实例化一个element对象 */
            var element = layui.element;
            /* 执行一个实例 */
            laypage.render({
                elem :  'Pageinfo',
                count: 50, // 从后台获取
                limit: 9,
                prev : '<',
                next : '>',
                theme: '#f37942',
            })
        })
    </script>
</body>

</html>