<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$pageTitle} - 迪士尼</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,min-scale=1,max-scale=1,user-scaleable=0">
  <link rel="stylesheet" href="/static/mobile/custom/css/main.css">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<header>
  <div class="left">
    {if condition="@$showBackBtn"}
      <span id="backBtn"><</span>
    {/if}
  </div>
  <div class="middle">
    {$pageTitle}
  </div>
  <div class="right">
    <img src="/static/mobile/image/icon/message.png">
  </div>
</header>