<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$pageTitle} - 迪士尼</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="__CSS__/common.css">
  <link rel="stylesheet" href="__CSS__/main.css">
  <link rel="stylesheet" href="/static/vendor/layui/css/layui.css">
  <script src="/static/vendor/layui/layui.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="/static/mobile/vendor/js/datePicker.js"></script>
</head>
<body>
<header>
  <div class="left">
    {if condition="@$showBackBtn"}
      <span id="backBtn">
        <img src="__ICON__/back-white.png">
      </span>
    {/if}
  </div>
  <div class="middle">
    {$pageTitle}
  </div>
  <div class="right">
    <img src="/static/mobile/image/icon/message.png">
  </div>
</header>