/* 进度条 */

/* 解锁训练 start */
#Speed{
    width: 500px;
    height: 30px;
    margin: auto;
}

#Speed>span{
    position: absolute;
    color: #f37942;
    margin-top: 0px;
    margin-left: -80px;
    display: flex;
}

#Speed>div{
    display: flex;
    margin-top: 50px;
}

#Speed>div>div{
    background-color: #f37942;
    display: flex;
}

/* 解锁训练 end */

/* 训练历史成绩 start */

/* 训练历史成绩 end */